[2013-04-26 19:02] eni9889 opened #1 "Pausing and Refreshing Ads"
With the new SDK I noticed the following note:

 _Note:_ if you wish to set the property to YES, you should do so before you call `loadAd` for the first time.
@property (nonatomic, assign) BOOL ignoresAutorefresh;

Essentially this means that the ads cannot be paused/resumed after they are loaded. As such how should we handle situations where a banner goes off screen and the new screen has no ads

[2013-04-29 06:16] sgabello opened #2 "MPAdView animationType removed"
In the past versions of the SDK you could select the kind of transition to play when the adview needed to be updated with a new ad.

In this new version there are no default animations at all and there are no delegates that allow to create custom animations. The view gets replaced as soon as the ad is loaded.

[2013-05-08 10:13] lonsky opened #4 "lockNativeAdsToOrientation property doesn't work properly"
SDK ignores lockNativeAdsToOrientation property set to portrait orientation for iAd network

[2013-06-02 00:22] sgabello opened #12 "Built-in transition removed. DidLoad method called before the creative is fully loaded."
The didLoad method gets called before the creative is actually ready to be displayed. In apps that have "show/hide" logic, an empty white view gets displayed while the creative is downloaded.

Also the option to animate the transition between two ads has been removed. Now ads are simply replaced.

[2013-08-15 08:02] argrigoryan opened #20 "MPAdWebViewEventAdDidDisappear is never fired when dismissing an ad"
It looks like MPAdWebViewEventAdDidDisappear event is never fired from didDismissInterstitial in MPHTMLInterstitialViewController.m

[code]

should be

[code]

[2013-09-10 14:29] eymlo opened #22 "Auto-refresh stops working after custom event failed to load an Ad"
On occasions, auto refresh stops working after a custom event failed to load an Ad and called:   [delegate bannerCustomEvent:self didFailToLoadAdWithError:nil];

Seems like the "NSURLConnection connectionWithRequest" in MPAdServerCommunicator is stuck and it never times out.

[2013-09-20 13:25] tmsoft opened #23 "Change mopub log filename to be hidden"
Change the filename "mopubAppOpen.log" to be hidden ".mopubAppOpen.log" so for apps that use iTunes File Sharing it won't appear in the documents list.

[2013-10-17 10:44] jacopo-nextology opened #26 "Finish the implementation of interstitialWillLeaveApplication."
At today version v1.16 the MPInterstitialCustomEventDelegate is interrupted with an empty implementation inside the MPInterstitialAdManager with a TODO comment.
Please complete the waterfall calls to the MPInterstitialAdController, because inside some project, like OpenGL based games its really important to know if an interstitial call an external application.

[2013-11-27 16:11] MrAndrew13 opened #28 "Your MoPubSDK is not fully compatible with iOS 7 SDK!"
You can see several warnings when you try to compile for iOS 7 only. The worst warning is about using deprecated currentContentSizeIdentifier.

[2013-12-02 10:09] tekhn opened #30 "ios7 iAd interstitials don't resume Unity3d app after close"
Using the unity3d plugin with mopub sdk 1.17 on an ipad ios7.0.4, with the example scene that comes with the plugin (modified to include my own adunit).

I can request an iAd interstitial and I can display it.  The ad I see is the default "iAd is working correctly in developer mode" ad.  However, when I click the close button the ad does close, and I can see my unity scene, however it is "paused"

[2014-01-16 17:08] Fl0p opened #33 "MPiAdInterstitialCustomEvent on iphone+ios6 crash"
Following code cause an exeption
when builds for ios7 and run on iphone with ios 6

[code]

in doc

[code]

[2014-05-22 14:58] tapi opened #53 "UIStatusBar not being hidden when `MPAdBrowserController` is presented"
When a user taps an add and a `MPAdBrowserController` is presented the status bar is not being hidden. I put a breakpoint on in `prefersStatusBarHidden` and it's not being called even when `UIViewControllerBasedStatusBarAppearance` is set to true.

I can force it to hide by calling `[[UIApplication sharedApplication] setStatusBarHidden:YES withAnimation:UIStatusBarAnimationFade];` but otherwise It

[2014-06-06 10:52] ConfusedVorlon opened #55 "Please doucument cocoapod support"
it would be good to have this in the installation wiki.
particularly points about how to use subspecs, and what to do for networks that are not supported by the podspec.

[2014-06-25 23:52] emilevictor opened #57 "iOS 7 iPhone 4S, webview doesn't load ad link until refresh is pressed."
I'm using this code to open up a link in a native ad:

https://gist.github.com/emilevictor/7bfa7dd72e12e9e73dc7

The above code exists within the view controller.

What I see is the webview pop up with a blank white screen. Only by refreshing the webview manually do I actually get the link that I wanted.

[2014-07-22 13:36] paulbruneau opened #64 "adView rotation, UIViewAutoresizing"
I found that when I implemented the provided code, that the ad moved in an unpleasant way during rotation, then snapped back into place at the end of the rotation.

I added these autoresizing masks to make it a more pleasant rotation, consider putting it into your code template? Of course, mine was for a position on the bottom of the screen, it will vary. Perhaps a note on the implementation docum

[2014-08-06 10:28] fprivitera opened #67 "crashing mopub sample app using video ads"
I am running a video ad and testing on your mopub demo.

I have the following error in log and the app seems blocked.

Aug  6 12:23:08 iPhone-di-Filippo MoPubSampleApp[3735] <Warning>: **\* WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSInternalInconsistencyException> Attempting to begin a modal transition from <MP

[2014-08-15 09:51] dhekrazaied opened #70 "Integrating interstitiel"
Hi,
When I added one interstitiel in my app it work like a charm but when I added others interstitial nothing appear only the first that I created.For more explanation I cannot get many interstitials(different ids)in one app.There isn't  a solution for my purpose??

[2014-09-17 16:02] linked67 opened #76 "Autolayout"
Would be nice to have a guide on how to use mopub with autolayout and constraints.

The adview has a frame but is it compatible with autolayout ?

[2014-10-08 10:17] victorfigol opened #84 "Add subspec for MillenialMedia in podspec"
I think this is really trivial and easy since Millenial Media has a podspec as well.

Here is what you have to add:

 {
"source_files": "AdNetworkSupport/Millenial/*.{h,m}",
"dependencies": {
"MillenialMediaSDK": [
"~> 5.2.0"
],
"mopub-ios-sdk/MoPubSDK": [
]
},
"name": "MillenialMedia"
},

[2014-10-08 10:23] victorfigol opened #85 "Add subspec for InMobi in podspec"
InMobi has a podspec as well so here is what should be added in the podspec:

{
"source_files": "AdNetworkSupport/InMobi/*.{h,m}",
"dependencies": {
"InMobiSDK": [
"~> 4.5.1"
],
"mopub-ios-sdk/MoPubSDK": [
]
},
"name": "InMobi"
},

Also it would be necessary to change InMobiBannerCustomEvent.m and remove:
# define kInMobiAppID            @"YOUR_INMOBI_APP_ID"

Hard coding the app id will make it d

[2014-10-12 14:40] theely opened #87 "Update Facebook Ad Network support for version"
Recently Facebook has released version 3.19 of the Audience Network SDK.

Current Mopub AdNetworkSupport works great with version 3.18.2 but does not fully support version 3.19 as impressions and clicks are not correctly reported to Facebook.
Mopub logging is still working only Facebook not.

[2014-10-20 22:08] jday001 opened #89 "Update getting started documentation for call to action button on native ads"
The documentation shows setting up the call to action button for a native ad as:

`@property (strong, nonatomic) UIButton *callToActionButton;`
`[adObject loadCallToActionTextIntoLabel:self.callToActionButton.titleLabel];`

which mixes `UIButton` and `UILabel` and won't work correctly (the UIButton would need `[setTitle:forState:]`). At first I thought maybe it was just a naming thing, but after s

[2014-10-27 13:02] Ankur-Bagchi opened #91 "Banner Position Issue With Unity and iOS 8"
Hello,

We are making a Unity game for iOS phones/tabs, and have encountered an issue with the placement of banner ads on iOS 8.

We have centered the ad using MopubBinding's createbanner function:

<i>MoPubBinding.createBanner (MoPubBannerType.Size728x90, MoPubAdPosition.TopCenter, GameConstants.MOPUB_ID);</i>

This centers the banner at the upper edge of the screen for all devices running upto a

[2014-12-04 19:13] cthomaschase opened #95 "InMobi 4.5.1"
Is version 3.1.0 compatible with version 4.5.1 of InMobi, specifically the NativeAdAdaptor and NativeCustomEvent? The changelog for InMobi 4.5.1 does not specify that the ad unit was changed, but wanted to be sure?

Thanks!

[2014-12-09 14:20] evilutioner opened #96 "Status bar disappears after fullscreen iAd banner display"
This issue is reproduces for the latest Mopub version 3.3.0.

I discovered that dismissInterstitialAnimated in MPInterstitialViewController.h doesn't call for iAd after banner closing.
- (void)dismissInterstitialAnimated:(BOOL)animated
  {
  [self setApplicationStatusBarHidden:!self.applicationHasStatusBar];
  ...
  }

[2014-12-10 07:47] jarinosuke opened #98 "[NativeAD] sizeWithMaximumWidth wants indexPath"
Hi

I'm implementing `MPNativeAdRendering` into my `UICollectionViewCell`.
I want to decide its size depends on each indexPath of instance, not class method.

So please path through indexPath from [here](https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSDK/Native%20Ads/MPStreamAdPlacer.m#L121) to my `UICollectionViewCell`

If my suggestion sounds good for you, I'll send PR soon.

thanks

[2014-12-11 10:42] ConfusedVorlon opened #99 "Add subspec for facebook support"

[2014-12-16 10:49] linked67 opened #100 "Banner 480x32 supported ?"
I have setup custom format 480x32 in mupob dashboard for my app and i'm wondering if i have something special to make it work ?

I only get this, even with setTesting to TRUE:
MOPUB: Banner ad view is fetching ad network type: clear
MOPUB: No ads found for ad unit: ba2d00ac205442e0a357822710a30a22
MOPUB: Banner view (ba2d00ac205442e0a357822710a30a22) failed. Error: Error Domain=com.mopub.iossdk Co

[2015-01-05 19:40] JoeSzymanski opened #101 "Notify a listener when an ad will be fetched (including refreshed)?"
We have a need to track when ad requests are being made, but don't currently have any way to detect this for automatic refreshes that are triggered when the MoPub refresh timer fires.

The change doesn't appear to be overly complicated, but there isn't any current code that even has basic hooks for tracking this.

This being tracked for the Android SDK with mopub/mopub-android-sdk#133.

[2015-01-14 14:46] Alexandeer opened #102 "MRConstants.h"
MRConstants.h:9:5: Redefinition of enumerator 'MRAdViewPlacementTypeInline'
MRConstants.h:10:5: Redefinition of enumerator 'MRAdViewPlacementTypeInterstitial'
MRConstants.h:15:5: Redefinition of enumerator 'MRAdViewStateHidden'
MRConstants.h:16:5: Redefinition of enumerator 'MRAdViewStateDefault'
MRConstants.h:17:5: Redefinition of enumerator 'MRAdViewStateExpanded'

[2015-01-15 03:31] hoangthanhdoan commented on #100
Me too!
I got the mesage:

MOPUB: Banner ad view is fetching ad network type: clear
MoPubSampleApp[4476:44090] MOPUB: No ads found for ad unit: 10f9a9d4c1624f0fb374619a6db8296e
MoPubSampleApp[4476:44090] MOPUB: Banner view (10f9a9d4c1624f0fb374619a6db8296e) failed. Error: Error Domain=com.mopub.iossdk Code=0 "The operation couldn’t be completed. (com.mopub.iossdk error 0.)

[2015-01-23 16:05] cthomaschase opened #103 "MPMoPubNativeCustomEvent Crash"
Last night we began receiving a large number of crashes in this class. Here is the specific issue and stack trace:

[code]

[code]

[2015-01-23 18:00] MoJRen commented on #103
Hey @cthomaschase which version of the SDK are you using? This looks like a bug that was fixed in the 2.4 release.

See line 29 in

https://github.com/mopub/mopub-ios-sdk/blob/0dc9a49ea29d99871773285b1f6785f66636e18c/MoPubSDK/Native%20Ads/Internal/MPMoPubNativeCustomEvent.m

[2015-01-23 18:20] cthomaschase commented on #103
Thanks @MoJRen, that makes sense, it's an old client build. I'll close.

[2015-01-23 18:20] #103 closed

[2015-01-23 18:25] Kelcey commented on #102
Hello,

Sorry or the late response. Could you tell me which file has the definition already?

Thanks!

[2015-02-03 01:01] netpro2k opened #104 "disableRequestHandling during interstitial appearance causes issues with ad creative."
We have an MRAID interstitial ad creative that we are serving successfully to several MRAID ad containers (including mopub-android) but fails to correctly load on mopub-ios. The issue is that the ad creative attempts to load an iframe after the ad is considered both "ready" and "viewable" (using the relevant MRAID status methods and events). On mopub-ios there is a short period of time after the i

[2015-02-03 13:23] loisaidasam commented on #104
:+1:

[2015-02-05 00:28] Zedenem opened #105 "Podspec update to 3.4.0 needed"
Hello,

Your podspec still targets `3.3.0`. Do you know when will you be able to provide the `3.4.0`?

Thank you for your help,

[2015-02-09 16:39] #102 closed

[2015-02-10 14:05] JoeSzymanski opened #107 "Crash in MPTableViewAdPlacer"
We've come across a crash in MPTableViewAdPlacer (and probably MPCollectionViewAdPlacer) that has a relatively simple fix.

The Ad Placer retains the UITableView and sets the delegate and dataSource of the UITableView to itself. Unfortunately, it never sets those values to nil when it gets deallocated. In some cases, this causes the UITableView to send messages to the recently-deallocated MPTableV

[2015-02-10 16:57] linked67 opened #108 "MPAdview retain the controller ?"
I use Mopub with a singleton i have write and i have found that MPAdview retain the controller. The probem don't exist with the same code if i replace mopub with admob SDK.

Is there a safe way to put a weak reference to the controller somewhere ?

If someone need, here is my helper:
https://github.com/linked67/mopub-helper

[2015-02-10 22:07] hippoyue opened #109 "iOS Open URL from external browser does not work with URL that contains query parameters"
For example: mopubnativebrowser://navigate?url=http://www.example.com?key=value

The end result from this function: https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSDK/Internal/Utility/Categories/NSURL%2BMPAdditions.m#L24 would be "http://www.example.com?key"

It looks like this is only happening in Mopub iOS SDK but not Android SDK

[2015-02-10 22:51] linked67 commented on #108
After some research, there is no retain cycle when the Mopub SDK load HTML banner like this in the log:

    MOPUB: Loading MoPub HTML banner

But with there is still a retain cycle with millenial media, maybe others too, i have to test.

[2015-02-11 12:04] linked67 commented on #108
No retain cycle too for Admob banners loaded with Mopub  SDK:

    MOPUB: Requesting Google AdMob banner

I think i will disable Millenial on IOS to prevent some nasty bugs.
Todo: test with IAds

[2015-02-19 12:37] MrYogi commented on #100
i am getting same error for 320x50 native Banner ad unit:
MOPUB: Banner ad view is fetching ad network type: clear
MoPubSampleApp[4476:44090] MOPUB: No ads found for ad unit

 any idea for cause?

[2015-02-19 12:48] linked67 commented on #100
I have found that clear means there is no ads to show.

Since a few months, if you have too few ads request, your ads get out of the caching system of mopub.
This result in a very poor fill rate… except if you have enough request.

I have setup a fallback system to Admob in the case Mopub has no ads to show. This result i less request and the fill rate is going more down but at least i have always

[2015-02-26 20:24] platedbay opened #110 "Cocoapods and Swift installation issue with the Bridging-Header"
Hey guys,

I recently had to integrate the SDK into our Swift only project via Cocoapods. I ran into issues as I would add `import <MoPubSDK/MoPub-Bridging-Header.h>` into my app's Bridging-Header.h file; however, it couldn't find the header.

The pod installs all of the files into a folder called 'mopub-ios-sdk' and not 'MoPubSDK'. The 'MoPubSDK' folder is one level too deep for it to be recogniz

[2015-03-03 19:34] yood opened #112 "Add support for Google AdMob iOS SDK 7.0"
Please add support for the latest Google AdMob iOS SDK, version 7.0. From their release notes
(https://developers.google.com/mobile-ads-sdk/rel-notes#ios):

- Dropped support for iOS 5.
- Released SDK as a framework.
- Removed dependency on the -ObjC linker flag.
- Improved ad loading time on iOS 8.
- Added requestAgent property to GADRequest. Third-party integrations should set this property to d

[2015-03-12 10:29] jigmelam opened #114 "Distribute MoPub iOS SDK by lib"
Please build & distribute MoPub iOS SDK into lib. Thank you!

[2015-03-14 04:25] samwize opened #116 "MRController frequently Crashed with EXC_BAD_ACCESS KERN_PROTECTION_FAILURE"
I am using MoPub SDK 3.4.0 and I have lots of crashes coming from MRController. It's a level 5 issue in Crashlytics, and I do need assistant to close the bug.

The crash is from this line 749 of `MRController.m`:

[code]

From the stack trace, it seems to keep looping between line 749 and 763, until it crash with **EXC_BAD_ACCESS KERN_PROTECTION_FAILURE**.

Any idea how I can fix, or is it an issu

[2015-03-15 01:53] MoJRen commented on #116
Hi @samwize thanks for the report we will look into this. Do you have the full stack trace available?

[2015-03-15 02:18] samwize commented on #116
Thanks for looking into it. Here is the full stack trace:

[code]

[2015-03-16 17:26] MoJRen commented on #116
thanks @samwize we're narrowing in on the root cause and the fix. if you can provide the distribution of iOS versions and device types from your crash reports that would be very helpful.

[2015-03-16 17:46] MoJRen commented on #116
hi @samwize we have found the cause and the fix will go out in our next release.

[2015-03-16 17:46] #116 closed

[2015-03-17 03:30] samwize commented on #116
@MoJRen Thanks a lot for looking into issue. Appreciate the quick response.

[2015-03-18 13:05] Toinouze commented on #112
+1

[2015-03-19 23:13] evilbert103 opened #117 "MRAID Interstitial MPVast XML parsing issue"
Hi there, I'm having trouble getting MRAID interstitials to work for iOS. I work in Adobe AIR and created my own MoPub ANE quite some time ago. MRAID interstitials have never loaded correctly in my project and I recently decided to look into why. Here is what I've discovered and I hope you might have a better solution than what I found to fix the problem.

Firstly, each time I get an MRAID interst

[2015-03-23 16:10] proth commented on #112
+1

[2015-03-26 09:34] clementbarry commented on #112
+1

[2015-03-26 09:41] burditto commented on #112
+1

[2015-03-27 14:25] erysaj commented on #112
+1

[2015-04-08 03:26] TimOliver opened #118 "Presenting ads in a container view"
Hi there!

I'm developing an app that uses a 'magazine' style format to present content in a fullscreen, horizontally swiping scroll view. As such, it would be perfect for my design needs if I could simply embed full-screen ads as another 'page' in my scroll view.

From looking at the API, it looks like the only official way to display fullscreen ads is to have them pop up modally from another vie

[2015-04-08 13:45] floriankrueger opened #119 "scrollViewDidScroll: not called"
Hi, we're using MoPub integration [fabric.io](http://www.fabric.io) and use `-scrollViewDidScroll:` (among others) to position some views around the `UITableView` while scrolling through the content. The moment we integrated MoPub (as described in the fabric.io setup)`-scrollViewDidScroll:` stopped being called. However, methods like `-scrollViewDidEndDecelerating:` and `-scrollViewDidEndDragging`

[2015-04-08 17:09] MoJRen commented on #119
hi @floriankrueger are you using one of our AdPlacer classes?

[2015-04-08 17:29] RadiumOneDrew commented on #118
You need a full screen banner ad for that purpose.

Drew Colace | Development Manager / Architect - Mobile
e drew@radiumone.com <mailto:gchahal@radiumone.com>

[2015-04-08 20:51] floriankrueger commented on #119
Yes, we're using `MPTableViewAdPlacer` and replaced all methods with their according `mp_` method.

[2015-04-10 16:25] MoJRen commented on #119
hi @floriankrueger thanks for the info, we'll investigate

[2015-04-10 18:18] Kelcey commented on #119
Hello @floriankrueger,

I just did a quick and simple test using Swift and the Fabric kit and scrollViewDidScroll appears to be getting called.

Of course my test was a very basic one. Could you double check your integration and email support@mopub.com if the problem persists?

Thanks!

[2015-04-12 12:04] rajatmonu opened #121 "Interestial ad loading sometimes"
I am creating an iOS application where i am loading custom interstitial ad i.e 320*480 size.Sometimes ad will load fine in my device and sometimes it is showing this error.
Mopub: interstitial ad view is fetching ad network type:clear
Mopub: No ads found for ad unit.I checked with my ad unit it is correct with mopub dashboard.Please help me.

[2015-04-13 04:04] khchen428 commented on #121
Hi rajatmonu - I'd suggest contacting the support@mopub.com alias with your
account credential to make sure the ad unit is definitely configured
correctly to fill 100% of ad requests.  The MoPub marketplace does not
guarantee ad request will always be filled.  Here are some videos and white
paper on how to configure the ad unit optimally -
http://www.mopub.com/resources/videos-and-educational-feat

[2015-04-13 07:33] rajatmonu commented on #121
How to contact with support@mopub.com? I didn't find in my mopub dashboard.

[2015-04-13 09:44] floriankrueger commented on #119
Hi @Kelcey, I did some restructuring after your message and found a way to fix the problem although I'm not 100% sure why it didn't work before.

We separated the `UITableViewDataSource` from the `UIViewController`. The View Controller only implemented the `UITableViewDelegate` methods (including the `scrollViewDidScroll:` method which wasn't called). The whole MoPub mechanism is part of the DataS

[2015-04-13 18:22] khchen428 commented on #121
You can email them directly :)

On Mon, Apr 13, 2015 at 12:33 AM, rajatmonu <notifications@github.com>
wrote:

[2015-04-13 18:51] Kelcey commented on #119
Hello @floriankrueger,

Could you send this info to support@mopub.com?

I'll definitely take a look at it myself when I get a chance.

Thanks!

[2015-04-16 07:05] nikmin commented on #112
+1

[2015-04-16 12:22] JohnnyTseng opened #123 "Ad is currently warming up. Please try again in a few minutes"
Hi, I'm using MoPub SDK 3.6.0 for iOS, but facing an issue,
My ad unit is Native ad, and I created this ad few weeks ago,
But sometimes shows message: "[ad unit id] is currently warming up. Please try again in a few minutes"
I don't know why this message will show, and cant find any reference for this message.

My app is in production, I think this issue may affect requests of my ad, Could you ple

[2015-04-16 17:04] ackleymi opened #124 "Remove native ads from tableview"
We can add ads to a tableview with

[code]

but how do we then remove those ads? I want to switch between two ad cells in the same tableview for different types of content.

[2015-04-17 16:29] jowkame commented on #112
+1

[2015-04-17 16:40] MoJRen commented on #112
hi all, admob 7.0 support will be shipped in our next release, thank you for your patience

[2015-04-17 20:13] yood commented on #112
Great! Just noticed that the latest version is now 7.1. Could you support that if possible?

[2015-04-22 14:47] D6mi opened #126 "[NativeAds] Native ads are showing only in the 1st section"
Hi,

Is it possible to enable Mopub to render the native ads in all of the TableView sections, using the rule set on the Dashboard?

Best regards,
D6mi

[2015-04-27 18:07] adammurnane opened #127 "MPTableViewAdPlacer doesn't implement all delegate and datasource methods"
In version 3.6.0 of the MoPub iOS SDK, MPTableViewAdPlacer does not provide implementations of all available delegate and datasource methods. This is problematic because the original delegate of the table view may have implementations for those methods, and because MPTableViewAdPlacer takes over as the delegate, those methods never get called. Might I suggest that the missing methods simply provid

[2015-04-28 11:40] victorfigol commented on #112
+1

[2015-04-29 11:40] orkenstein commented on #96
Same hear

[2015-05-04 10:10] orkenstein opened #129 "Cocoapods 3.7.0 podspec"
Please, update cocoapods podspec.
It woluld be great, if you remove .podspec file from ,gitignore, so we'll be able not to wait for cocoapods release, if it's delayed.

[2015-05-07 18:55] csbubbles opened #130 "MoPub stopped showing ads when clicking the ads banner on iOS"
I cannot open any ad when clicking the MoPub banner. When I click first time, it shows the loading indicator (same way as if it was on iPhone Simulator), then it disappears and nothing shows up. When you click after that, nothing happens.

PS It worked before (last time I have checked it a month or two ago). It was opening Apple Store for games and stuff like that just fine.

iPhone 4S, iPhone 5S

[2015-05-07 18:56] csbubbles commented on #130
PS On Android everything still works with no issues.

[2015-05-07 20:38] csbubbles commented on #130
The only logs I am getting from MoPub:

[code]

[2015-05-13 19:44] tapi opened #131 "When built as a framework nibs are never loaded resulting in a crash"
Currently when the sdks instantiates view controllers that load there interfaces from a nib, such as `MPAdBrowserController`, `nil` is passed for the bundle parameter.

When building the mop SDK as a framework instead of a static lib this causes the application to crash because it can't find the nib that it needs to unarchive. This is because prior to the introduction of frameworks most nibs were

[2015-05-14 22:49] alicerp commented on #123
From https://twittercommunity.com/t/why-doesnt-my-ad-unit-work-on-the-first-request/21986:

"Our ad server requires ad units to warm up before being able to deliver an ad.

As our ad server has a large number of servers each of these have to be warmed up for a particular ad unit in order for everyone to have ads deliver properly. Since each user is divided up by ad servers randomly, it takes a nom

[2015-05-15 18:58] alicerp commented on #126
Hi D6mi--

By "Dashboard" do you mean the native location control in the UI (https://dev.twitter.com/mopub/ui/native-location-control)?

For additional questions, feel free to check out https://twittercommunity.com/c/fabric/mopub or email support@mopub.com.

[2015-05-15 18:59] alicerp commented on #124
Removing ads is currently not supported, but you can specify where ads appear in your stream via native location control: https://dev.twitter.com/mopub/ui/native-location-control

For additional questions, feel free to check out https://twittercommunity.com/c/fabric/mopub or email support@mopub.com.

[2015-05-15 19:02] alicerp commented on #117
Could you please provide the VAST response and full device logs to support@mopub.com?

For additional questions, feel free to check out https://twittercommunity.com/c/fabric/mopub or email support@mopub.com.

[2015-05-15 20:13] alicerp commented on #104
Hi! Are you still experiencing this with the latest SDK?

For additional questions, feel free to check out https://twittercommunity.com/c/fabric/mopub or email support@mopub.com.

[2015-05-18 11:21] D6mi commented on #126
Hi, Alice,

On the provided link, the image displaying the Control's not available so let me put this in words. By Dashboard I mean the part of the MoPub configuration portal where you can set the interval of occurrence for ads.

Best regards,
Domagoj

[2015-05-18 18:36] edwardho commented on #130
Hello csbubbles,

Could you email support@mopub.com with your issue and your MoPub account username and the affected ad unit ID?

This will allow us to troubleshoot your specific issue.

Thanks,
Edward

[2015-05-19 12:11] alicerp commented on #130
Thanks, Edward.  Please note that the MoPub Github Issue Reporting Section will now be housed directly on the Twitter Developer Community Forum.

Please visit https://twittercommunity.com/c/fabric/mopub for any additional support questions or feel free to email suport@mopub.com.

[2015-05-19 12:31] alicerp commented on #126
Hi Domagoj--

You cannot set 1 as the frequency, otherwise ads would show in every position.

Please note that the MoPub Github Issue Reporting Section will now be housed directly on the Twitter Developer Community Forum.

Please visit https://twittercommunity.com/c/fabric/mopub for any additional support questions or feel free to email suport@mopub.com.

Thank you for your patience and understand

[2015-05-19 12:58] alicerp commented on #104
Hi there!

I'm following up with the MoPub team regarding your question.

Please note that the MoPub Github Issue Reporting Section will now be housed directly on the Twitter Developer Community Forum.

Please visit https://twittercommunity.com/c/fabric/mopub for any additional support questions or feel free to email suport@mopub.com.

Thank you for your patience and understanding.

Alice

[2015-05-19 21:44] blogvinskiy commented on #112
We shipped support for 7.1 in Version 3.7 of our release. Thanks!

[2015-05-19 21:44] #112 closed

[2015-05-19 21:45] blogvinskiy commented on #114
@jigmelam we don't currently distribute our SDK as a lib, but you can get it as a framework if you use MoPub through Fabric (fabric.io)

[2015-05-19 21:47] #100 closed

[2015-05-19 21:48] #105 closed

[2015-05-19 21:48] #87 closed

[2015-05-25 12:31] onderozcan opened #133 "MPNativeAd.h' file not found"
Dragged MopubFullSDK in to xcode ( checked copy groups if needed)

Imported into viewcontroller like  #import "MoPubSDK/MoPub.h"

When trying to compile , precompiler throw error that header file not found.

"projectName/MoPubSDK/MoPub.h:20:9: 'MPNativeAd.h' file not found"

Btw. I successfully integrated not opensource ( Fabric) SDK. But need to integrate opensource part instead of working with R

[2015-05-25 14:38] onderozcan commented on #133
Well , somehow IDE just skipped that error and throw new precompiler issue:

 'MillennialMedia/MMInterstitial.h' file not found. Somehow , i checked it has MillennialMedia under the AdNetworkSupport, but IDE just can't see it.

Tried to add/remove MopubFuLLSDK several times  but still not have a chance.

Best Regards

[2015-05-26 09:07] linked67 commented on #133
Go to build settings and add the path of Mopub folder into framawork / library search path. And make it recursive.

[2015-05-28 17:59] csbubbles commented on #130
Let's close the issue. I have contacted to the support team, it wasn't really helpful, but I have figured out the issue myself in the end. MoPub doesn't open the ads target if there is no controller callback implemented. Though it still shows the ads and a popup window when you click those ads. I would request to update the developer docs to emphasize how important that callback is and what it may

[2015-06-07 17:34] #95 closed

[2015-06-10 12:16] onderozcan opened #134 "MPInterstitialAdController loop issue"
I just implemented interstitial advertisement on iOS , i've implemented all necessary things.  When i am running project, i got that message in endless loop:
"Interstitial controller is already loading an ad. Wait for previous load to finish"

Why it can be happen ?

Best Regards.

[2015-06-10 12:17] onderozcan commented on #133
I've solved that issue with re-adding MoPubSDK as create  reference and selecting target on Main App scheme.

Thank you.

[2015-06-10 13:55] edwardho commented on #134
Hello onderozcan,

Could you please email support@mopub.com with your inquiry?

We also have our community forum here that you can use.
https://twittercommunity.com/c/fabric/mopub

Thanks!

[2015-06-17 13:07] mdstage opened #135 "Media auto-played when MPMRAIDInterstitial is loaded"
When pre-loading a MPMRAIDInterstitial, once loaded, the sound is automatically played, in the background.

    @property (nonatomic, strong) MPInterstitialAdController *adController;
    - (void)preloadAd
    {
        if (self.adController.ready == NO) {
            [self.adController loadAd];
        }
    }

We had this situation only with one ad (smule - sing), but the other ads we could see

[2015-06-17 16:13] edwardho commented on #135
Hello mdstage,

I am already working with you on this issue through support. This seems to be a misconfiguration on the DSPs side for this specific creative. If any other users experience similar issues here, please reach out to support@mopub.com

Please note that the MoPub Github Issue Reporting Section will now be housed directly on the Twitter Developer Community Forum as this Issue Reporting S

[2018-11-29 08:45] #91 closed

[2018-11-29 08:45] #96 closed

[2018-11-29 08:45] #98 closed

[2018-11-29 08:45] #99 closed

[2018-11-29 08:45] #101 closed

[2018-11-29 08:45] #104 closed

[2018-11-29 08:45] #107 closed

[2018-11-29 08:45] #108 closed

[2018-11-29 08:45] #109 closed

[2018-11-29 08:45] #110 closed

[2018-11-29 08:45] #114 closed

[2018-11-29 08:45] #117 closed

[2018-11-29 08:45] #118 closed

[2018-11-29 08:45] #119 closed

[2018-11-29 08:45] #121 closed

[2018-11-29 08:45] #123 closed

[2018-11-29 08:45] #124 closed

[2018-11-29 08:45] #126 closed

[2018-11-29 08:45] #127 closed

[2018-11-29 08:45] #129 closed

[2018-11-29 08:45] #130 closed

[2018-11-29 08:45] #131 closed

[2018-11-29 08:45] #133 closed

[2018-11-29 08:45] #1 closed

[2018-11-29 08:45] #2 closed

[2018-11-29 08:45] #4 closed

[2018-11-29 08:45] #12 closed

[2018-11-29 08:45] #20 closed

[2018-11-29 08:45] #22 closed

[2018-11-29 08:45] #23 closed

[2018-11-29 08:45] #26 closed

[2018-11-29 08:45] #28 closed

[2018-11-29 08:45] #30 closed

[2018-11-29 08:45] #33 closed

[2018-11-29 08:45] #53 closed

[2018-11-29 08:45] #55 closed

[2018-11-29 08:45] #57 closed

[2018-11-29 08:45] #64 closed

[2018-11-29 08:45] #67 closed

[2018-11-29 08:45] #70 closed

[2018-11-29 08:45] #76 closed

[2018-11-29 08:45] #84 closed

[2018-11-29 08:45] #85 closed

[2018-11-29 08:45] #89 closed

[2018-11-29 11:44] paulbruneau commented on #64
So I guess that’s a “no” LOL

[2018-12-01 01:21] ilyakam opened #251 "Ensure that the MoPub Sample App can be inspected in Safari"
It is no longer possible to use Safari to inspect the ads that are being rendered via the MoPub Sample App on all iOS devices. This was not an issue prior to [the switch from `UIWebKit` to `WKWebKit` in version `4.11.0`](https://github.com/mopub/mopub-ios-sdk/blob/master/CHANGELOG.md#version-4110-november-10th-2016).

- [x] I am submitting a bug report for existing functionality
- [x] I visited ht

[2018-12-04 21:59] jeffreycarlson commented on #251
Hi @ilyakam,

Great question. The iOS Sample App is a production enterprise app. Inspector is only available from a debug build using a developer certificate. See more details from this StackOverflow page [here](https://stackoverflow.com/questions/37524723/use-safari-web-inspector-with-apps-compiled-for-production).

To inspect the webview, download the MoPub sample app, please [download the sourc

[2018-12-04 22:09] ilyakam commented on #251
Hi @jeffreycarlson ,

That's exactly what I did. In fact, I mentioned as much under the **Expected behavior** heading in the OP:

Based on the [StackOverflow answer that you'd linked to](https://stackoverflow.com/a/39222680/545590), it indeed says that "[t]here is no way to do that with a Distribution (enterprise, ad-hoc, app-store) certificate."

It looks like we're going to have to teach our des

[2018-12-04 22:09] #251 closed

[2018-12-04 22:42] jeffreycarlson commented on #251
@ilyakam Sounds good. Will take this feedback back to the team.

To not use a developer certificate, you could build the sample app using the simulator and inspect the webview from there.

Regarding creative design, are your ads going to leverage MRAID or are they strictly HTML only?

[2018-12-04 22:48] ilyakam commented on #251
That's a good idea! I personally believe that simulators are much less of a hassle than physical devices for these sorts of purposes, anyway.

Either or -- that depends on the ads. Sometimes we may need MRAID functionality and at other times, plain HTML with some basic JavaScript sprinkled around would do the trick.

The way we use the MoPub Sample App is to verify that the ads render properly in

[2018-12-05 02:36] jeffreycarlson commented on #251
For HTML creative (non-MRAID) testing, you can add the creative to the following HTML document MoPub has and inspect it in any web browser (I use Chrome with "toggle device toolbar". Just put the markup in  where `` is.

`
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <style>
            body {

[2018-12-06 16:53] jeffreycarlson commented on #251
Here are some basic MRAID commands we inject for 320x50s and 320x480s on iOS and Android. Note: Some of the values can change across devices.

### iOS MRAID Banner
[code]

### iOS MRAID Interstitial
[code]

### Android MRAID Banner
[code]

### Android MRAID Interstitial
[code]

These injected commands can be added to the `<head>` section of the HTML document within a load listener. This listener s

[2018-12-06 22:19] ilyakam commented on #251
This is wonderful, @jeffreycarlson. Thanks a bunch!

[2018-12-09 20:32] KAMIKAZEUA opened #252 "[CRITICAL: can't submit app] Unsupported Architecture [x86_64, i386] (can't validate for iTunes) latest framework"
Just downloaded latest `.framework`
https://github.com/mopub/mopub-ios-sdk/releases/tag/5.4.1

And after I archived my game in Xcode I got this warning:

![screen shot](https://user-images.githubusercontent.com/3391456/49702573-4dc9b900-fc02-11e8-9486-52a40ae07b77.png)

[2018-12-09 20:59] KAMIKAZEUA commented on #252
Also, I can't validate app to the App Store!

![screen shot](https://user-images.githubusercontent.com/3391456/49702845-047b6880-fc06-11e8-9c3d-8609013806b1.png)

[2018-12-11 02:10] wacamoe commented on #252
Hi @KAMIKAZEUA,

Can you please use the issue template found when you create a new issue:

One line summary of the issue here

- [ ] I am submitting a bug report for existing functionality
- [ ] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ ] I checked to ma

[2018-12-11 11:41] KAMIKAZEUA commented on #252
I just dropped framework into blank project using standard documentation instructions and got this problem!

It's blocker for me, I can't submit my app now!

[2018-12-11 11:49] KAMIKAZEUA commented on #252
This is wrong!

![screen shot](https://user-images.githubusercontent.com/3391456/49798666-80cb9400-fd4b-11e8-8487-48b1c2a9493c.png)

Usually valid is arm64, armv7 and armv7s

[2018-12-11 17:48] wacamoe commented on #252
Can you please provide your sample project? Additionally, can you fill out the above template, as well as provide the XCode version you are using?

Thanks!

[2018-12-13 11:17] KAMIKAZEUA commented on #252
I already showed you how this should be fixed. Whats the reason to fill that bureaucratical template? BUG is clearly seen, in Valid Architectures it's specified wrong values like i386, which is not allowed for iOS.
I already fixed this, by rebuilding framework with correct values.

[2018-12-13 20:43] kdun commented on #252
Thank you for reporting this issue. Our investigation has discovered that XCode 10 no longer supports fat frameworks. Previously, the i386 and x86_64 simulator slices would be stripped from the app during the archiving process. We will be fixing the issue in the next release by including a simulator targeted framework and a device-only targeted framework.

For those that are still blocked, the i38

[2018-12-18 19:59] KAMIKAZEUA opened #253 "Debug console logs shown even if [[MoPub sharedInstance] setLogLevel:MPLogLevelOff];"
One line summary of the issue here

- [x ] I am submitting a bug report for existing functionality
- [x ] I visited https://developers.mopub.com/ and found no answer
- [x ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.4.1
####

[2018-12-19 15:55] chauduyphanvu1 commented on #253
@KAMIKAZEUA, this is an expected behavior because setting `MPLogLevelOff` only applies to logs administered by the MoPub SDK itself. When you use mediation, SDKs from the mediated ad networks that use the regular `NSLog` can still utilize the console for their own log entries. MoPub does not have control over that.

I'd recommend speaking to the ad networks in question about logging best practices

[2018-12-19 15:59] KAMIKAZEUA commented on #253
@chauduyphanvu1 I know that answer will be like that, but what will be if I manually try to access networks and try to change any properties? I don't know exactly what MoPub doing with them at the current time, initialized them or not and so on.

So it's like top control of all adapters and so should disable their logs too.
Or tell me how I need to disable that logs manually.
Because this is very

[2018-12-19 16:05] chauduyphanvu1 commented on #253
Mediation SDKs _might_ provide APIs that let you silent their own logs (similar to MoPub's `[[MoPub sharedInstance] setLogLevel:MPLogLevelOff]`). If one exists, you'd call it from your app implementation. If you cannot find the APIs from the public documentation, my suggestion is to speak with an account manager or reach out to the ad networks directly for guidance.

In the upcoming SDK release Mo

[2018-12-19 16:11] KAMIKAZEUA commented on #253
It's actually easy to disable log in any networks, most of them has such methods.
But the reason I'm creating this bug it's - as I said already, how do I know where to call this?
Is it safe to call it? For specifically each network is it available and how will affect that logs actually? It's like better to control this from the top, so from the MoPub SDK. Don't you think so?

[2018-12-21 09:41] ogres opened #254 "Unknown pragma warning"
I am using mopub-ios-sdk (5.4.1) and see compiler warning for this line https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSDK/NativeVideo/Internal/MOPUBPlayerViewController.h#L56

![screenshot 2018-12-21 at 10 37 53](https://user-images.githubusercontent.com/2391557/50335838-d30b7280-050c-11e9-8bd0-5196c72702be.png)

Was it supposed to be `#pragma mark - ...` ?

[2018-12-21 17:35] chauduyphanvu1 commented on #254
@ogres - thanks for letting us know! I've relayed this to the rest of the team.

Vu Chau
MoPub SDK Team

[2019-01-07 14:38] Volodymyr-Klymenko commented on #252
Also, I wonder how this will be solved, for example I want to run my app on `Simulator` and `device`, so means I need a separate files `.framework` for each target. Right?

[2019-01-07 22:03] kdun commented on #252
Yes, you are correct. The plan is to distribute all three variations of the framework: simulator, device, and universal. The universal framework will include the simulator and device slices, which is suitable for normal development.

For distribution to the App Store, you can replace the universal framework with the device framework either manually before archiving or a pre-build script in the sch

[2019-01-07 23:37] Volodymyr-Klymenko commented on #252
Well, current universal framework builds without any issues for all architectures.
The problem is only when archiving, so some script should be an option..

[2019-01-18 23:11] KAMIKAZEUA commented on #253
@rsatrasala
I don’t understand it’s fixed?

[2019-01-18 23:12] chauduyphanvu1 commented on #253
@KAMIKAZEUA - we will begin work on it shortly for the upcoming adapter release. Stay tuned!

[2019-01-18 23:13] KAMIKAZEUA commented on #253
So it’s not fixed, why close? Wrongly.

[2019-01-19 11:20] KAMIKAZEUA commented on #252
https://github.com/mixpanel/mixpanel-iphone/issues/819#issuecomment-448023460

[2019-01-21 14:20] meaning-matters commented on #252
Could be this: http://www.openradar.me/radar?id=6409498411401216

If you're using Carthage, add a Run Script build phase that does `carthage copy-frameworks` (as described [here](https://www.raywenderlich.com/416-carthage-tutorial-getting-started)

[2019-01-21 14:23] KAMIKAZEUA commented on #252
I'm using only manual.
I just downloaded mixpanel and build it without simulator architecture for now, but this should be something auto or well described in tutorials and tested on latest Xcode and submitting apps.

[2019-01-29 09:54] KAMIKAZEUA commented on #252
@caleb-lee and how set automatically Xcode use proper `.framework` for simulator or device(same as archiving for release to App Store) ?

[2019-01-30 16:35] kdun commented on #252
@KAMIKAZEUA You can edit your target's scheme's Archive process to run a pre-action script which copies the device-only architectures framework over the universal framework. Post-action, you can run a script to revert the changes using `git checkout -- <path to framework>/MoPubSDKFramework.framework`.

[2019-01-30 16:41] KAMIKAZEUA commented on #252
I see.. but looks like a hack and not really good..
And what your ophinion about this:
https://github.com/mixpanel/mixpanel-iphone/issues/819#issuecomment-448023460

[2019-01-30 17:31] kdun commented on #252
The script itself seems reasonable, but we haven't tried it ourselves. Honestly all these solutions will be hacky since Xcode really should be automatically slicing out the unused architectures when archiving.

[2019-02-01 02:35] KAMIKAZEUA commented on #252
@kdun My game in on a production, works very stable and uses previous MoPub SDK 5.4.1

Today I updated to 5.5.0
https://github.com/mopub/mopub-ios-sdk/releases/tag/5.5.0

Replaced `.framework` as long as new adapters files from the official repo and all adapters SDK all latest for my game.

And when I started my game and it immediately hung.

What I noticed first previous `.framework` file size fo

[2019-02-01 02:53] KAMIKAZEUA commented on #252
So, I revered to `5.4.1` and since now I will very very carefully update MoPus SDK 😨

[2019-02-01 02:57] chauduyphanvu1 commented on #252
@KAMIKAZEUA - that doesn't sound like an expected behavior. Would you mind capturing and sending us some traces showing the freeze? If you have a mini project that integrates with MoPub 5.5.0, perhaps we could investigate the issue for you.

[2019-02-01 03:05] KAMIKAZEUA commented on #252
@chauduyphanvu1 My game is under NDA, so sharing any info would be complicated..
I can tell you that it's game build with cocos2d-x and it uses OpenGL.

There are no any unusual traces at that point.
Game just starts as it should, then after call init of MoPub it's dropped CPU usage to 0% and hung. So weird, Xcode just showing 0% of usage.

Sometimes, it works I'd say 1 try from 10.

If I'm not ca

[2019-02-01 14:31] chauduyphanvu1 commented on #252
@KAMIKAZEUA - thanks for the preliminary troubleshooting. We'd recommend opening a separate issue report so this behavior could be tracked and debugged. The goal is to have our publishers upgrade to 5.5.0 and see a performance improvement. Thanks!

[2019-02-01 14:45] KAMIKAZEUA opened #255 "MoPub SDK 5.5.0 hung"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.5.0
#### Devi

[2019-02-01 18:16] sdolim commented on #255
Something that came up recently in Unity builds was having two copies of the MoPub SDK in the Xcode project, one from the .framework, and one from the pod dependencies specified by the adapter podspecs.  Can you check that you don't have two SDK?  If you do that could lead to this weird behavior.

[2019-02-01 20:40] chauduyphanvu1 commented on #255
@kdun

The only change going from 5.4.1 to 5.5.0 regarding initialization is that, the MoPub SDK also asynchronously initializes supported networks whose adapters are found in the app project. Here's a couple of things you could try:

* Use Xcode's Instruments to profile the game at the time it is about to freeze. Feel free to send us your traces for investigation.
* Remove some (or all) adapters

[2019-02-01 21:09] KAMIKAZEUA commented on #255
1. Game is under NDA, I can't send any, sorry. I wish to.
2. I'm on about to release update for my game, so perhaps in 1 week I can back to this.
3. It was 0, I checked and CPU load was 0.
4. No, never.

[2019-02-04 09:14] KAMIKAZEUA commented on #253
@chauduyphanvu1 it's not fixed.
It's just disables logs for mopub.

I'm looking for - mopub disables each network adapter logs.
So, if I set `setLogLevel:MPLogLevelOff];` for mopub, it should also disable all networks logs.
I just want that mopub, when doing all initializations of networks adapters, along with simple initialization - pass additional parameter - disable logs. Thats it.

[2019-02-04 11:47] chauduyphanvu1 commented on #253
We'll be working on this feature in the adapters. Thanks for your patience!

[2019-02-04 11:49] KAMIKAZEUA commented on #253
Cool, buy reopen issue then! Please!

[2019-02-04 17:37] kdun commented on #255
@KAMIKAZEUA The increase in framework binary size is due to inclusion of bitcode (we now set `BITCODE_GENERATION_MODE = bitcode` when generating the frameworks).

Can you tell us more about where and how the MoPub SDK is initialized?
- Is it being called in `application:didFinishLaunchingWithOptions:`?
- Current thread, main thread or GCD async thread?
- Are you waiting for the MoPub SDK initializ

[2019-02-04 17:42] KAMIKAZEUA commented on #255
@kdun

- Init called after game scene fully loaded + 2 seconds. I'm not doing anything in `didFinishLaunchingWithOptions`.
- Main thread.
- Waiting for completion and then start initing and loading banners, loadInterstitials and rewarded videos.

Feel free to ask anything more if needed.

[2019-02-05 21:04] #252 closed

[2019-03-15 09:05] stopiccot opened #256 "Some ads can play audio without being actually shown"
In our game we prefetch ads at startup to show them later when needed.
Some ads start to play music in the background right after they've completed prefetch.
I think that's because that particular ads start playing music when they receive `ready` mraid event instead of waiting for `viewableChange`. I know that it's more of a ad problem but it would be nice to have some fixes for that in MPMRAIDInt

[2019-03-18 14:40] chauduyphanvu1 commented on #256
@stopiccot, thanks for letting us know! Do you have the HTML ad response (or ad unit ID) that serves that creative? If you plug that into our iOS sample app, do you notice the same behavior? We do have existing work in progress to curb creative behaviors like this, and we'd like to include that faulty creative in our tests.

Vu Chau
MoPub SDK Team

[2019-03-19 06:47] stopiccot commented on #256
Honestly I don't know how to grab HTML response from mopub. Ad unit id is `16bf4ddaad174d10beebbdc2c98f6e8b`, it was a Yandex.Taxi ad.

[2019-03-22 02:28] saldous opened #257 "'SFSafariViewController' is only available on iOS 9"
SDK version 5.5.0 (5.6.0 doesn't install via cocoapods yet..). My app targets iOS 10 and up. Mopub giving me 2 warnings in build: **'SFSafariViewController' is only available on iOS 9** in file: MPAdDestinationDisplayAgent.m (lines 33 and 346)

[2019-03-22 17:41] chauduyphanvu1 commented on #255
@KAMIKAZEUA - do you still run into this issue? Did you have a chance to try our previous recommendations? We're closing this thread and feel free to reopen if needed!

[2019-03-22 17:41] rsatrasala commented on #255
Closing this issue due to inaction.

[2019-03-22 17:41] #255 closed

[2019-03-22 17:45] KAMIKAZEUA commented on #255
Very fun, you just asked and then closed issue).

I haven’t tried because I’m not using latest SDK, just stick with older version.

I have no time for that now. But issue is there for sure.

[2019-03-22 17:46] KAMIKAZEUA commented on #255
Just try to integrate this with cocos2d-x and you will get this issue..

[2019-03-22 18:08] chauduyphanvu1 commented on #255
@KAMIKAZEUA - we don't support Cocos2d-x so we are unable to reproduce the issue using the details you provided. Feel free to open another issue report if you get a chance to share a debug project in the future!

[2019-03-22 18:26] chauduyphanvu1 commented on #257
@saldous - Thanks for letting us know! This should be a harmless warning, and it's expected because your app targets iOS 10+.

Vu Chau
MoPub SDK Team

[2019-03-28 04:06] cunzhegao opened #258 "Call loadRewardedVideoAdWithAdUnitID:withMediationSettings: from background thread produce "UI API called from background thread" warning"
I tried to call load loadRewardedVideoAdWithAdUnitID:withMediationSettings:, and Xcode complain that inside MPAdServerURLBuilder, when constructing URL queryParams, Mopub SDK tried to get device orientation using [UIApplication sharedApplication].statusBarOrientation. Is this expected or i'm not suppose to call load video from non main thread?

- [√ ] I am submitting a bug report for existing func

[2019-03-28 15:45] chauduyphanvu1 commented on #258
@cunzhegao - thanks for letting us know about that warning. I've synced with the rest of the team, and we'll see what we can do to rectify it. We'll let you know when the fix is deployed to production. The ideal scenario is you should be able to call `loadRewardedVideoAdWithAdUnitID:withMediationSettings:` on a background thread without seeing that warning as a result of the SDK making calls to `[

[2019-03-28 23:52] FVivolo opened #259 "Problem with reward video"
One line summary of the issue here

- [X] I am submitting a bug report for existing functionality
- [ X] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [X] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: 5.6

#### Devi

[2019-03-29 00:16] foreza opened #260 "Failover to next line item not working for MoPub HTML/JS creative on MoPub IOS 5.5"
With the release of IOS SDK version 5.5 (and now 5.6), publishers using our API for ads have reported a spike in # of ad requests when they do not fill and return the failload.

- [X] I am submitting a bug report for existing functionality
- [X] I visited https://developers.mopub.com/ and found no answer
- [X] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this iss

[2019-03-29 00:49] dravyan commented on #259
Hi @FVivolo,
 Thank you for reporting this. We are able to load and show RV ad successfully using adunit `98c29e015e7346bd9c380b1467b33850` in our testing. Could you please zip and share the project where you are seeing the issue?. We can investigate .

Thanks,
Dravya Nataraj
MoPub SDKTeam

[2019-03-29 00:58] FVivolo commented on #259
mm is part of a game runtime clickteam for iOS, let me see how i can do it, the side part is that banner and interstitial work OK, where can i send privately this Xcode project?

[2019-03-29 08:22] tolgatanriverdi opened #261 "AdRequest startWithCompletionHandler not working in swift"
One line summary of the issue here

When I try to execute the MPNativeAdrequest class startWithCompletionHandler method from swift 4 , with the below code. The completion block never gets executed. What should we do in order to solve this. It works fine when we use objective-c

[code]

[2019-03-29 14:58] #261 closed

[2019-03-29 14:59] tolgatanriverdi opened #262 "Problems about Native Video in Mopub IOS SDK"
Hi

We are trying to implement native video ads to our applications and we want to show native video ads before our video content in our applications.
I've followed the integration steps in the document but I've 3 problems I wasnt able to figure it out

1. I'm implementing native video ads manually(Without using ad placers), but in MPNativeAdDelegate protocol, I wasnt able to see a method such as

[2019-03-29 17:54] dravyan commented on #260
@foreza ,
  Thank you for reporting this. This is being worked on and please refer to https://github.com/mopub/mopub-android-sdk/issues/307 for more updates and let us know if you have any questions.

Thanks,
Dravya Nataraj
MoPub SDKTeam

[2019-04-01 17:42] foreza commented on #260
@dravyan

Do we have a timeline for a fix so I report back to our customers?
At the moment, we're not sure when we'll see a solution and I want to know whether we should be looking into a temporary workaround.
Greatly appreciated, thanks!

[2019-04-01 21:26] chauduyphanvu1 commented on #262
@tolgatanriverdi, we currently don't support pre-roll videos, which is what you are looking for (ad before content). You might still be able to achieve it, just that there's no API, official documentation, or demo code. To answer your questions:

1. There's no callback to let you know a video has completed playing. You might be able to hook into AVPlayer's own delegate (e.g. `AVPlayerItemDidPlayTo

[2019-04-02 07:50] tolgatanriverdi commented on #262
Thanks for the info, so I have 2 more questions
1. Is there any other way to show vast video  ads in our mobile app without using native video ads? If there is a way can you send us a tutorial link (I saw this url but didnt understand what it is: https://developers.mopub.com/publishers/ui/creatives/direct-sold-vast/)
2. If there is no way to do that , is it possible for us to apply beta program fo

[2019-04-02 15:51] chauduyphanvu1 commented on #262
We currently offer VAST video for interstitial and rewarded video so you don't necessarily have to use native video. It depends on what your use case is: one big difference is that interstitial and rewarded video are full-screen formats, while native video can be of either screen size. The link you referenced is for use cases where you want to serve your own house ads by uploading your own VAST re

[2019-04-02 15:53] tolgatanriverdi commented on #262
Hmm, I got it. But what we need is a small screen video which will be played before our video content. So only solution for us is seems like native video. And as far as I understand,  for to be able to use native video we need to register private beta. How can we register ourselves for private beta?

[2019-04-02 16:05] chauduyphanvu1 commented on #262
You will need to be whitelisted by an account manager to use MoPub's Marketplace demand for native video ads.

[2019-04-02 16:44] dravyan commented on #260
@foreza, I will notify the thread here as soon as I have an update on the ETA for the fix.

Thanks,
Dravya
MoPub SDKTeam

[2019-04-03 02:33] cunzhegao opened #263 "Crash on MPLogEvent(AdLifeCycle) adRequestReceivedResponse:"
We pulled crash log from apple and noticed that few devices crash on this method, the crash was caused by initializing string from network response dictionary. For detail, see the crash log below.

- [ ] I am submitting a bug report for existing functionality
- [ ] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to mak

[2019-04-03 02:38] #263 closed

[2019-04-03 11:28] numen31337 opened #264 "MPAdViewDelegate do not provide an error"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.6.0

#### Exp

[2019-04-03 12:32] tolgatanriverdi commented on #262
Do you know how can I reach to a marketplace account manager, I've sent email to support@mopub but there is no response

[2019-04-03 20:38] dravyan commented on #264
Hi @numen31337,
 Thank you for reporting this. We appreciate the feedback on having error information on `adViewDidFailToLoadAd`. We have worked on the fix and will be available in our next SDK release. Please look out for SDK release notes.

Thanks,
Dravya Nataraj
MoPub SDKTeam

[2019-04-04 20:29] chauduyphanvu1 commented on #262
@tolgatanriverdi, I don't have visibility into how that process is done.

[2019-04-05 20:36] #259 closed

[2019-04-05 20:39] #257 closed

[2019-04-05 20:40] #253 closed

[2019-04-05 20:42] #262 closed

[2019-04-19 09:43] gasta-java opened #265 "Applovin and Unity ads don't work on ios"
Applovin and Unity ads don't work on ios. (Both Interstitial and Rewarded Video).

All other networks work fine though.

I Use these pods:
pod 'mopub-ios-sdk'
pod 'MoPub-AdColony-Adapters', '3.3.7.0'
pod 'MoPub-Applovin-Adapters', '6.4.2.0'
pod 'MoPub-Chartboost-Adapters', '7.3.1.0'
pod 'MoPub-FacebookAudienceNetwork-Adapters', '5.2.0.1'
pod 'MoPub-Vungle-Adapters', '6.3.2.5'
pod 'MoPub-UnityAds-A

[2019-04-19 11:13] gasta-java commented on #265
After adding AppLovinSdkKey to Info.plist AppLovin works.

Unity ads still don't work.

[2019-04-19 13:42] chauduyphanvu1 commented on #265
@gasta-java, could you share your ad unit IDs and any relevant device logs? Could you reproduce those errors in our [Unity sample app](https://github.com/mopub/mopub-unity-sdk)?

Vu Chau
MoPub SDK Team

[2019-04-19 13:45] gasta-java commented on #265
- we use mopub sdk for native ios (not unity engine)
- do u have native objective c sample?

[2019-04-19 13:46] chauduyphanvu1 commented on #265
@gasta-java, I see. [Here's](https://github.com/mopub/mopub-ios-sdk) our iOS sample app.

[2019-04-30 15:19] FVivolo opened #266 "Help for native Ads"
One line summary of the issue here

- [ ] I am submitting a bug report for existing functionality
- [ X] I visited https://developers.mopub.com/ and found no answer
- [X ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ ] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.6.0
#### De

[2019-04-30 15:55] chauduyphanvu1 commented on #266
@FVivolo, since you are using our sample ad unit ID, all ad assets should be returned. That'd mean this is an implementation issue.

Did you create the two `UIImageView`s for the [icon image](https://github.com/mopub/mopub-ios-sdk/blob/1f4b83e7fefedc9fea517df5448856c63e4f16d9/MoPubSampleApp/Views/MPStaticNativeAdView.m#L29-L30) and the [main image](https://github.com/mopub/mopub-ios-sdk/blob/1f4b8

[2019-04-30 16:12] FVivolo commented on #266
mm i am using both of your ViewClass as you do in your example and i get the call to

- (UIImageView *)nativeIconImageView
{
    return self.iconImageView;
}

- (UIImageView *)nativeMainImageView
{
    return self.mainImageView;
}

for video i get this

- (UIView *)nativeVideoView
{
    return self.videoView;
}
in both the ad class and the video class

also using the same loadAd code partially mod

[2019-05-01 13:58] FVivolo commented on #266
Any Help about this, can you provide other example related to native ads which not involve xib? as you may see teh hierarchy seems to be like teh one in your example and still does not show.

[2019-05-01 14:11] chauduyphanvu1 commented on #266
Your code looks OK to me. Could you check Xcode's console log to see if there are any relevant messages that might explain images failing to load? Are you also using any proxy that might be causing images to fail to load in general? You can run our iOS sample app in parallel and see if the images are displayed.

Feel free to attach your app project and we can further investigate!

[2019-05-01 14:19] FVivolo commented on #266
2019-05-01 10:17:01.571175-0400 RuntimeIPhone[479:99021]
	[MoPub][MPNativeAdRequest][76a3fefaced247959582d2d2df6f4757] Attempting to load ad
2019-05-01 10:17:01.665795-0400 RuntimeIPhone[479:99119]
	[MoPub][MPNativeAdRequest] Received data from MoPub to construct native ad.
2019-05-01 10:17:01.667713-0400 RuntimeIPhone[479:99003]
	[MoPub][MPNativeAdRequest] Looking for custom event class named MPM

[2019-05-01 14:24] chauduyphanvu1 commented on #266
Could you remove the proprietary code and keep _only_ the ad/MoPub code? Could you upload it to Google Drive, share a link here, and grant access to me when I request it? Thank you.

[2019-05-01 14:40] FVivolo commented on #266
https://drive.google.com/drive/folders/1Adb9qCBRLmC59oHCuPtZ-16WIKwLo0dS?usp=sharing

[2019-05-01 14:41] FVivolo commented on #266
the code is inside two files, but inside you will see several implementation/interface this is due the way to pack this code as object for clickteam runtime

[2019-05-01 14:58] chauduyphanvu1 commented on #266
Thank you. Could you share a compilable project instead of just the inline code? This will make troubleshooting much faster since it'll allow us to reproduce the issue as closely as you do.

[2019-05-01 14:59] FVivolo commented on #266
sure, give me some time

[2019-05-01 15:23] FVivolo commented on #266
Shoudl be available now in the shared folder

[2019-05-02 13:50] FVivolo commented on #266
Sorry to bother you any news or suggestion about this, thanks in advance

[2019-05-02 17:43] chauduyphanvu1 commented on #266
@FVivolo - I'm getting compilation issues running the sample app. It seems related to how the MoPub SDK is integrated:

[code]

Are you also seeing that and do you want to send an updated project?

[2019-05-02 18:07] chauduyphanvu1 commented on #266
I turned on debug log and saw this when rendering the native ad:

[code]

It comes from [here](https://github.com/mopub/mopub-ios-sdk/blob/1f4b83e7fefedc9fea517df5448856c63e4f16d9/MoPubSDK/NativeAds/Internal/MPNativeAdRendererImageHandler.m#L45-L48) in the code. The ad view has been recycled and is no longer in the view hierarchy. Could you check if your [superview is not nil](https://github.com/m

[2019-05-02 18:32] FVivolo commented on #266
I don't get these error here

i have this set sdkConfig.loggingLevel = MPLogLevelInfo;

sorry don't know what view you are mention, can you explain me more?

does this point to adViewContainer

seems there

![Screen Shot 2019-05-02 at 2 29 04 PM](https://user-images.githubusercontent.com/4428409/57097920-eadada80-6ce6-11e9-808a-2f332e0cdf76.png)

[2019-05-02 20:04] chauduyphanvu1 commented on #266
If you set `sdkConfig.loggingLevel = MPLogLevelDebug`, which was what I did, you should see additional logging to help you troubleshoot and understand what's going on in the SDK. More info on logging and testing can be found on [this page](https://developers.mopub.com/publishers/ios/test/#enable-logging).

I'm still taking a look at your project, but feel free to use that information to troublesho

[2019-05-02 20:08] FVivolo commented on #266
thanks for the info now I got these errors, here too.

[2019-05-06 13:53] FVivolo commented on #266
Hello, wonder if you found any solution to this. thanks in advance for you to try

[2019-05-06 21:54] chauduyphanvu1 commented on #266
@FVivolo - no progress on this yet but I'll take another look tomorrow! Did you find anything suspicious from your end?

[2019-05-07 07:11] theaterears-dev opened #267 "App crash due to MoPub SDK"
One line summary of the issue here

- [YES] I am submitting a bug report for existing functionality
- [YES ] I visited https://developers.mopub.com/ and found no answer
- [YES] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [YES] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:5.5.0

[2019-05-07 14:40] chauduyphanvu1 commented on #267
@theaterears-dev, from the description, it sounds like the app is crashing when initializing the MoPub SDK (since you mention app launch). If you could tell us a bit more about what the app is doing (or confirm that hypothesis), we should be able to debug the crash. For now, try to comment out the [initialization code](https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSampleApp/AppDelegate.m

[2019-05-08 21:37] chauduyphanvu1 commented on #267
I don't think that's a solution because your stack trace indicates a code path that triggers session tracking (and crashes in the attempt). Session tracking is performed when the MoPub SDK is initialized for that app session, and that has to happen before ad requests (and ad shows). We can safely say there's no connection between your ad delegates and this crash.

In your upcoming app release, wou

[2019-05-09 03:14] SSamanta opened #268 "MoPub SDK Crash while mp_endUpdates"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: 5.6.0

#### Dev

[2019-05-09 09:02] theaterears-dev commented on #267
I haven't used CocaPods to integrate MoPub, instead manually added MoPub folder to my project by downloading from git.
Do you think this could also be one of the reason?

When I am using my test devices, the debugger is able to log MoPub UserAgent in the console. I'll try and figure out a way to log this on the live build.

Also I noticed in my Crashlytics, that there are multiple different sessio

[2019-05-10 15:58] chauduyphanvu1 commented on #268
@SSamanta - thanks for letting us know! Could you describe to us what's happening in the app at the time of the crash (this looks like there's an update to the UITableView from your app at the same time MoPub updates it for the ad cells)? If you are able to reproduce the crash, could you send us a link to download a mini app project?

Vu Chau
MoPub SDK Team

[2019-05-10 20:42] chauduyphanvu1 commented on #267
It shouldn't be a reason for this crash. That integration option is a supported one.

It makes sense because your devices have proper user agent string. The fact that the crashes are only happening in production might be due to a subset of iPhones not returning the user agent properly. Thank you for adding the log to your live build. Let us know once you have the data.

Hmm, that's not expected th

[2019-05-10 20:51] aechap02 opened #269 "Crash MPRateLimitManager.m line 41"
Seeing a crash occur, not consistently enough to reproduce it ourselves but seeing it appear in Crashlytics.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this

[2019-05-10 21:57] chauduyphanvu1 commented on #269
@aechap02 - thanks for letting us know! I'll take a look into what might be causing this crash, and share details on this thread.

Vu Chau
MoPub SDK Team

[2019-05-11 00:16] rsatrasala commented on #265
Closing due to inactivity. Please create a new issue if there are further questions

[2019-05-11 00:16] #265 closed

[2019-05-13 15:03] FVivolo commented on #266
Hi any progress regarding this issue, did you have an example made using plain UIView and work for you?

[2019-05-14 15:10] chauduyphanvu1 commented on #269
@aechap02 - while we did not reproduce that exact crash, we managed to trigger something very close to it. The team has put in a fix that we believe should fix the issue on this report. It should be available in an upcoming SDK release.

[2019-05-14 16:52] aechap02 commented on #269
Thank you!

[2019-05-22 15:49] MikeSpelling opened #272 "MPTimer crash in version 5.7.0"
MPTimer crash in version 5.7.0 which wasn't present in 5.6.0

#### MoPub SDK Version: 5.7.0

#### Device model and OS Version: All devices but specifically an iPhone 6S Plus (A1687) running iOS 11.4.1

#### Xcode Version: 10.2.1

#### Steps to reproduce the behavior:
Run the app, calling MoPub.sharedInstance() on the main thread once the app is active.
This in turn creates an MPConsentManager whos

[2019-05-23 06:34] rbtgit commented on #272
Having the same issue.
Quick workaround, change:
`[self.runloop addTimer:self.timer forMode:self.runLoopMode];`
to
`if ([self.timer isValid])
            [self.runloop addTimer:self.timer forMode:self.runLoopMode];`

[2019-05-23 13:24] torodavit commented on #272
Having the same issue. :(
When fixed it?

[2019-05-23 13:49] chauduyphanvu1 commented on #272
Hi everyone, we believe we've identified a fix for this issue. It's currently under review internally and will ship with an upcoming SDK release.

Vu Chau
MoPub SDK Team

[2019-05-23 19:49] dataxpress commented on #272
You made this change on line 125 right? If so, this workaround doesn't make sense to me because there is already a call to check `[self.timer isValid]` on line 108 of the same method. Maybe I'm mis-reading this?

[2019-05-23 20:11] dataxpress commented on #272
@rbtgit Seems like this would only tighten up the constraints of the race condition, but not prevent it entirely, right?

[2019-05-24 20:23] dataxpress commented on #272
It looks like `_nextUpdateTimer` in `MPConsentManager` is only ever accessed on the main thread, so this bug can probably be fixed by only calling `scheduleNow` on the main thread as well.

This is accomplished by changing line 596 of `MPConsentManager.m` from

        dispatch_async(dispatch_get_global_queue( DISPATCH_QUEUE_PRIORITY_DEFAULT, 0), ^{

to

       dispatch_async(dispatch_get_main_que

[2019-05-24 20:49] chauduyphanvu1 commented on #272
@dataxpress, no ETA on the upcoming SDK release, but the team confirmed that the workaround you suggested will suffice. Let us know if you need anything else!

[2019-05-28 06:24] pepsin commented on #272
When will this be shipped? Integrated via your built framework. It'd be a mess to use the source code version and actually change your code!

[2019-05-28 09:06] chauduyphanvu1 commented on #272
@pepsin, this fix should be going in the upcoming SDK release. I'll post an update otherwise. Currently there's no timeline yet.

[2019-05-29 22:46] scotthmccoy commented on #272
@chauduyphanvu1  Can you post a Cocoapod version that includes the fix?

[2019-05-29 22:51] chauduyphanvu1 commented on #272
@scotthmccoy 5.7.1 is expected to have the fix.

[2019-05-31 09:09] andypoptacular commented on #269
Any idea then the fix for this might land? It's our number one crash so considering our options (e.g. rollback SDK, try our own fix/workaround.  Any update would be great appreciated.

[2019-05-31 11:29] pablogeek commented on #272
@chauduyphanvu1 We are having the same issue. Do we know when is this gonna be released?

[2019-05-31 11:42] chauduyphanvu1 commented on #272
@pablogeek 5.7.1

[2019-05-31 11:51] pablogeek commented on #272
@chauduyphanvu1
![Uploading Screenshot 2019-05-31 at 13.50.51.png…]()

[2019-05-31 11:51] pablogeek commented on #272
@chauduyphanvu1

<img width="536" alt="Screenshot 2019-05-31 at 13 50 51" src="https://user-images.githubusercontent.com/1773546/58704117-35657a80-83ab-11e9-8735-9afbeb6ce62d.png">

[2019-05-31 12:49] chauduyphanvu1 commented on #272
@pablogeek, 5.7.1 is not released yet. But it's coming soon! I'll let you know if that's not the case.

[2019-06-03 13:02] chauduyphanvu1 commented on #269
@andypoptacular, it should go out with the 5.7.1 SDK release, which should be released soon. I'll get back to you if that's not the case.

[2019-06-03 21:50] chauduyphanvu1 commented on #266
@FVivolo - we didn't make any new progress since last time. Do you still need help with it? If you've made new changes to your project since then, feel free to send us the updated one.

[2019-06-03 23:24] AMoralesK commented on #272
Hello guys our application is crashing occasionally with `version 5.7.1`. Im testing on an iPhone 8+ with version 12.2, I attach a screenshot where we get this issue.

![Crash Mopub](https://user-images.githubusercontent.com/45642025/58840760-859f3f80-862c-11e9-96c7-8439ed119625.png)

[2019-06-04 14:07] chauduyphanvu1 commented on #272
@AMoralesK, thank you for letting us know! Could you also share the stack trace and the project you are using that reproduces the crash? If not, could you replicate the crash in our iOS sample app (available in this repository)?

[2019-06-04 16:43] chauduyphanvu1 commented on #272
@AMoralesK, could you try running the SDK again with a cleaned and rebuilt the project? Make sure you are using the new 5.7.1 SDK binary and purge any previous SDK references that might exist in your project.

[2019-06-05 20:21] KAMIKAZEUA commented on #272
Ohmy, I've updated my game with this new SDK and got **50k crashes!**.
It's crashing at game launch! I'm losing a lot of money because of that!

**THIS SHOULD BE FIXED NOW!** 😡

<img width="834" alt="Screen Shot" src="https://user-images.githubusercontent.com/3391456/58987668-a3190880-87e8-11e9-95fb-39f55ca120dd.png">

[2019-06-05 20:22] chauduyphanvu1 commented on #272
@KAMIKAZEUA, could you confirm which MoPub SDK version you are using?

[2019-06-05 20:25] KAMIKAZEUA commented on #272
5.7.0

[2019-06-05 20:26] chauduyphanvu1 commented on #272
@KAMIKAZEUA, we released 5.7.1 that contains a fix for this crash. Consider updating and let us know if you still see it.

[2019-06-05 20:29] KAMIKAZEUA commented on #272
Okay!

[2019-06-07 13:22] KAMIKAZEUA commented on #272
Fixed. Thanks for bug and thanks for fix.

[2019-06-10 08:33] MikeSpelling commented on #272
Thanks for the fix!

[2019-06-10 08:33] #272 closed

[2019-06-11 06:32] MayueCastbox opened #275 "Call MPNativeAdRequest.start produce "UI API called from background thread" warning"
One line summary of the issue here
"UI API called from background thread" warning is produced after calling MPNativeAdRequest instance func start very first time in app life cycle.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this

[2019-06-11 08:04] MayueCastbox commented on #275
it turns out, this issue should filed for facebook sdk

[2019-06-11 08:04] #275 closed

[2019-06-13 07:27] dinghaoz commented on #272
This problem is still NOT fixed. We are using 5.7.1, and still seeing a lot of crashes. By reading through the code, we think that the root cause is that [NSRunLooop mainRunloop] is accessed on a background thread via -[MPTimer scheduleNow].

According to Apple, NSRunLoop is not thread safe. mainRunLoop should NOT be accessed on a thread other than the main.
https://stackoverflow.com/questions/167

[2019-06-13 07:32] KAMIKAZEUA commented on #272
I’m monitoring this for my game and it’s ok for me.

Of course I’m getting this crash reports from users with previous version of my game. Just hope they will update soon.

[2019-06-13 18:53] dataxpress commented on #272
This fix is working for me:
https://github.com/mopub/mopub-ios-sdk/issues/272#issuecomment-495777417

Note that this change was made on 5.7.0 - I have not updated to 5.7.1.

[2019-06-21 20:37] rsatrasala commented on #269
Fixed in 5.7.1

[2019-06-21 20:37] #269 closed

[2019-06-21 20:39] rsatrasala commented on #268
Closing. Please open a new issue if needed.

[2019-06-21 20:39] #268 closed

[2019-06-21 20:43] rsatrasala commented on #267
Not Reproducible. Closing.
Please open a new issue if needed.

[2019-06-21 20:43] #267 closed

[2019-06-21 20:44] rsatrasala commented on #266
Closing. Please open a new issue if needed.

[2019-06-21 20:44] #266 closed

[2019-06-21 20:53] dravyan commented on #264
This issue has been fixed in SDK version 5.7.0. Thank you.

-Dravya Nataraj
MoPub SDK Team

[2019-06-21 20:54] #264 closed

[2019-06-26 13:59] polmum opened #276 "Crash in MPRateLimitManager.m still happening"
This looks like the same crash reported in #269. We've updated to MoPub 5.7.1 as recommended but the crash is still happening.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to m

[2019-06-26 14:37] chauduyphanvu commented on #276
@polmum, thanks for letting us know. I'll relay the info to the rest of the team and we'll see what can be done to fix the crash.

Vu Chau
MoPub SDK Team

[2019-07-06 16:53] stevenp commented on #276
10 days have passed now since your last comment. This continues to happen and is the top cause of crashes in my app at the moment. Is this being treated as a P0 level issue? I'm going to need to disable MoPub in my app until you're able to correct this. It's especially frustrating because in https://github.com/mopub/mopub-ios-sdk/issues/269 you claimed that this was resolved.

[2019-07-08 04:28] xuzepei opened #277 "Crash MPRateLimitManager.m line 41 #269"
Hi, I noticed you have fixed this crash in 5.7.1.

Please also notify the Google Mobile Ads Team to upgrade GoogleMobileAdsMediationMoPub to your latest SDK.

_Originally posted by @rsatrasala in https://github.com/mopub/mopub-ios-sdk/issues/269#issuecomment-504565058_

[2019-07-08 15:18] chauduyphanvu commented on #277
@xuzepei, thanks for staying on top of this. The Mobile Ads team has its own mediation certification program and deadline, so upon certifying MoPub's 5.7.1 SDK they will release the new adapters to pull that version of our SDK. Feel free to reach out to their team [over here](https://github.com/googleads/googleads-mobile-ios-mediation) if you have any questions!

Vu Chau
MoPub SDK Team

[2019-07-08 15:20] chauduyphanvu commented on #276
@stevenp, I've bumped the priority of this issue internally for the rest of the team. We'll share more updates as soon as we have them.

[2019-07-08 20:01] chauduyphanvu commented on #276
@stevenp, we've cut the release for our 5.8.0 SDK so this won't get into that version, but the team has some ideas of fixing this crash and we'll try to get it in the SDK version after that.

Meanwhile, I know this crash is not reproducible but do you have any other info on how you are integrating/implementing the MoPub SDK? Specifically I'm looking for info on what the app is doing prior to the t

[2019-07-08 23:30] stevenp commented on #276
Thanks, @chauduyphanvu. I'm not doing anything special, but from what I can tell in the crash, it appears as though somehow the ad unit ID passed to `MPRateLimitManager.setRateLimitTimerWithAdUnitId` is nil.

The stack trace isn't super clear about what's happening on my end, other than that it begins inside the task block in `MPAdServerCommunicator.loadURL`. I've hacked it to try to catch the run

[2019-07-10 18:24] chauduyphanvu commented on #276
@stevenp, we'll push out a fix in 5.8.0 to check for a nil ad unit ID, and fast fail. While it does not effectively fix the root cause of the crash, it should prevent crashes like this downstream.

[2019-07-16 16:48] bkorda opened #278 "Crash MPMediationManager.m"
One line summary of the issue here

- [v] I am submitting a bug report for existing functionality
- [v] I visited https://developers.mopub.com/ and found no answer
- [v] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [v] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: 5.7.1

#### Dev

[2019-07-23 22:56] rsatrasala commented on #276
5.8.0 is released. Closing this issue.

[2019-07-23 22:56] #276 closed

[2019-07-23 23:44] dravyan commented on #278
@bkorda,
 Thank you for reporting this. From the code snippet above it looks like the array of custom adapter configuration class name is not passed as recommended to  `.additionalNetwork`. You can refer [here](https://developers.mopub.com/publishers/ios/initialize/#initializing-custom-ad-networks-not-listed-on-supported-mediation-partners)

You can use below example,
[code]

Thanks,
Dravya Natara

[2019-07-24 06:38] bkorda commented on #278
Thank you,
It works. I think better to change your wiki, it's not clear

`sdkConfig.additionalNetworks(NSArray of class names);`

Thank you so much.

[2019-07-24 06:38] #278 closed

[2019-08-01 17:01] sainteye opened #280 "MoPub SDK Crash while [MPTableViewAdPlacer adPlacer:didLoadAdAtIndexPath:]"
Crash happens if Mopub placer insert/delete ads outside the valid range.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#

[2019-08-01 17:03] sainteye commented on #280
I have submitted a [PR](https://github.com/mopub/mopub-ios-sdk/pull/279) for this issue.

[2019-08-02 19:24] rsatrasala commented on #277
Informed Google team. No other Action Items for MoPub. So Closing.

[2019-08-02 19:24] #277 closed

[2019-08-06 07:40] red3 opened #281 "Storekit crashed on ios13 beta5"
when showing storekit, app crashed due to exception: skunsupportedclassexception, reason : SKStoreProductViewController May not be subclassed

#### MoPub SDK Version:
5.8.0
#### Device model and OS Version:
iPhone Xs Max on iOS 13 beta 5

[2019-08-06 10:33] hmertkahraman commented on #281
Hi @red3,

Thanks for reaching out to us on this, we'd be happy to guide you through this.

In order for us to identify the problem better, and provide you a comprehensive support, could you please provide some additional details:
- If present, a stack trace log explaining the crash.
- Reproduction steps
- If happened during an ad request lifecycle, the ad unit id, used for requesting the ad.
- Al

[2019-08-06 14:52] hmertkahraman commented on #280
Hi @sainteye,

Thanks for reaching us out. We will look into your issue and PR, and get back to you on this.

Firstly we would have to reproduce this fully. For this, could you please elaborate more on multiple segments and their switching, or perhaps send us a sample project that simulates the reproduction? That way we can assist you on this faster and more accurate.

Looking forward to hear from

[2019-08-07 06:03] red3 commented on #281
@hmertkahraman

* stack trace
actually, there was no useful stack trace, Storekit  framework just throw the exception: SKStoreProductViewController May not be subclassed. Seemed like you guys used MPiOS7SafeStoreProductViewController which is a subclass of SKStoreProductViewController.

Not very sure this is Apple's bug or limitation.

[2019-08-08 08:08] sainteye commented on #280
Hi @hmertkahraman,

I can provide our project. However, I am not sure MoPub Team can successfully build it. Is there any MoPub team members I can invite to the sample github project?

Thanks,
Sean

[2019-08-09 13:19] hmertkahraman commented on #281
Hi @red3,

Thanks for letting us know of that. I will investigate this further and get back at you.
Other than this, any information you can provide would be appreciated.

Thanks,
Mert

[2019-08-09 13:20] hmertkahraman commented on #280
Hi @sainteye,

That's totally fine. You may invite me to your project so that I can troubleshoot with my team.

Thanks,
Mert

[2019-08-09 13:37] sainteye commented on #280
Hi @hmertkahraman,

I have created a cloned project and invited you to there. Hope your team can build it successfully.
If your team encounter any problem, feel free to contact me.

Thanks,
Sean

[2019-08-20 16:01] hmertkahraman commented on #281
Hi @red3,

After my investigation I'd like to let you know that our SDK team is already aware of the issue and on the works to fix it.

The problem is caused because Apple doesn't support landscape orientation for SKStoreProductViewController. However due to limitations around how iOS is set up, if an app reports as only supporting landscape (as many games do), the app will crash when attempting t

[2019-08-20 16:04] hmertkahraman commented on #280
Hi @sainteye ,

Thank you very much for the effort. I will be looking into it and get back to you.

Mert

[2019-08-22 22:09] mmdock commented on #281
@hmertkahraman

Interesting fun fact: this is only happening on some ad creatives(all banner ads, but different creatives), but others open just fine.

This is on iOS 13 Beta 8.  Not sure if that makes a difference.

[2019-08-30 20:21] chauduyphanvu commented on #258
@cunzhegao, this has been fixed in the 5.8.0 iOS SDK release. Check it out and let us know if you still see the issue!

[2019-08-30 20:42] #258 closed

[2019-09-01 13:00] Theome commented on #281
When will the fix be available? I'm seeing the same crash on my devices running the latest iOS 13 beta, and iOS 13 will be released soon. This is urgent.

[2019-09-01 13:46] kogodm commented on #281
stack trace here:
2019-09-01 21:35:04.994613+0800 ios[620:88228] Uncaught exception: SKUnsupportedClassException: SKStoreProductViewController may not be subclassed.
(
	0   CoreFoundation                      0x000000019a394b78 CAE91FE5-25A2-3FD0-96CE-EF601CB32324 + 1227640
	1   libobjc.A.dylib                     0x000000019a0bd0a4 objc_exception_throw + 56
	2   CoreFoundation

[2019-09-03 08:57] hmertkahraman commented on #281
Hi @mmdock,

Thanks for the input. Yes the issue would happen on some creatives only, when the creative directs user to App Store, which essentially triggers the StoreKit issue for given reasons above. As mentioned [here](https://github.com/mopub/mopub-ios-sdk/issues/281#issuecomment-523081263), we are fully aware of this issue and will be providing a fix soon, most likely in the upcoming SDK rele

[2019-09-03 08:58] hmertkahraman commented on #281
Hi @kogodm,

Thanks for providing details on this. This is already a known issue and a fix is underway. Please refer to [this](https://github.com/mopub/mopub-ios-sdk/issues/281#issuecomment-523081263) answer for details.

Please let us know if you have any additional questions.

Thanks,
Mert

[2019-09-03 09:00] hmertkahraman commented on #281
Hi @Theome ,

Thanks for reaching out on us. Unfortunately we cannot provide an exact timeline for the fix, but we're estimating it to be available in the next SDK releases. Please actively look out for release notes once the new SDKs are available.

Please let us know if you have any additional questions.

Thanks,
Mert

[2019-09-03 10:04] Theome commented on #281
@hmertkahraman I'd like to have an update for my app ready as soon as iOS 13 is released to support new iOS 13 features like dark mode. But I cannot send out an update to a million users that crashes the app.

If the mopub SDK won't be ready soon, I'll have to decide to either provide shiny iOS 13 features or remove mopub ads from my app, so I'd really appreciate an ETA for the next SDK release or

[2019-09-03 18:03] voidet opened #283 "Crash in MPRateLimitManager.m line 41"
High amounts of crashes on `MPRateLimitManager.m line 41 -[__NSDictionaryM setObject:forKeyedSubscript:]: key cannot be nil`

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to mak

[2019-09-03 18:21] dravyan commented on #283
Hi @voidet ,
Thank you for reporting this issue. Could you try updating to MoPub SDK 5.8.0? The team has made further updates in 5.8 which should fix the issue on this report. Let us know if you still notice any crashes after upgrading.

Thanks,
Dravya Nataraj
MoPub SDK Team

[2019-09-03 22:42] voidet commented on #283
Will upgrade to 5.8. Would require `GoogleMobileAdsMediationMoPub` to get bumped, however manually did this in a local podspec to try get us out the door. Who usually requests the adapter owners to bump their versions?

[2019-09-04 08:52] Yuri-Soomla opened #284 "Rewarded video Test ad is not being shown"
Mopub test rewarded video ad has two rewards while you code has one limitation.
Please fix.

https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSDK/RewardedVideo/Internal/MPRewardedVideoAdManager.m#L127

#### MoPub SDK Version:5.8.0

#### Device model and OS Version:all

#### Xcode Version:10.1

#### Ad Unit IDs used in reproducing the issue:8f000bd5e00246de9c789eed39ff6096

[2019-09-04 15:55] #283 closed

[2019-09-04 16:22] dravyan commented on #283
`GoogleMobileAdsMediationMoPub` releases is owned by Google to mediate MoPub via [mediation](https://developers.google.com/admob/ios/mediation/mopub). You can contact Google directly for any questions regarding `GoogleMobileAdsMediationMoPub`.

Thanks,
Dravya Nataraj
MoPub SDK Team

[2019-09-04 20:48] dravyan commented on #284
Hi @Yuri-Soomla,
Thank you for your question. With the adunit you are testing, the sample app should hit the else loop [here](https://github.com/mopub/mopub-ios-sdk/blob/b6e6d91a0867c183e07aa53b1afab0c04cf8175c/MoPubSDK/RewardedVideo/Internal/MPRewardedVideoAdManager.m#L139) as the rewards are available for the adunit on MoPub dashboard.

[This](https://github.com/mopub/mopub-ios-sdk/blob/master/M

[2019-09-04 20:54] rob-keepsafe opened #285 "Apple no longer accepting UIWebView in submissions"
Apple is no longer accepting binary submissions that reference the `UIWebView` APIs

<img width="672" alt="Screen Shot 2019-09-04 at 4 48 53 PM" src="https://user-images.githubusercontent.com/30269720/64290742-ac735780-cf34-11e9-8767-444f7d1e57f4.png">

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked ht

[2019-09-05 05:17] jeffreycarlson commented on #285
@rob-keepsafe Thank you for the note. Apologies to you for having to encounter this alert!

We've already been working on removing the last remaining UIWebView code from the SDK. Most of our SDK has used WKWebView exclusively since version 4.11.0 so the necessary changes are few. We'll keep this page up-to-date with the timing of a release when those details are available.

[2019-09-11 08:34] Theome commented on #281
The release of iOS 13 is imminent and Apple now prompts developers to submit their new apps. This issue with the MoPub SDK is holding me back from submitting app updates using new iOS 13 features. The lack of help/communication from MoPub makes me consider this SDK as technical debt in my products.

[2019-09-11 08:47] hmertkahraman commented on #281
Hi @Theome ,

We will release the fix (mentioned [here](https://github.com/mopub/mopub-ios-sdk/issues/281#issuecomment-523081263)) for this issue by the end of next week, so 20th of September. That would be our SDK version 5.9 release. Please update your MoPub SDK version accordingly.

**cc:** @dive, @aserrr, @aabalaban, @NataliaTs, @jangirtony2009, @mmdock, @kogodm, @red3

Thanks,
Mert

[2019-09-11 09:07] dive commented on #281
Hi @hmertkahraman,

Just want to be sure that I read the situation accurately: we have a confirmed reproducible crash within MoPub SDK for applications built with Xcode 11 (aka early adopters of Apple Sign In/new iOS 13 features with planned marketing campaign, agreed on promotions in the AppStore, etc.), and you are going to release an update with the fix one day after iOS 13 release, right?

Tha

[2019-09-13 13:28] djaygit opened #286 "Crashes on 103 MPLogManager.m"
One line summary of the issue here

- [ ] I am submitting a bug report for existing functionality
- [ ] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ ] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:v4.16

#### Devi

[2019-09-13 13:34] chauduyphanvu commented on #286
@djaygit, 4.16.0 is a very old release and we've improved logging (new features for + bug fixes) in the 5.5.0 SDK. Do you think you could upgrade to one of the newer SDK versions to get the new features and bug fixes?

Vu Chau
MoPub SDK Team

[2019-09-13 21:07] djaygit commented on #286
I'm using "https://bit.ly/2bH8ObO" which i found on https://developers.mopub.com/publishers/ios/get-started/#option-1-zipped-source

[2019-09-14 13:39] samwize commented on #281
I am surprise a hotfix is not released, when Xcode GM is now ready, and iOS 13 will be officially release on Sep 19. Just 5 more days.

I have to disable MoPub interstitial ads for my app update.

To be fair, I think Admob uses the same technique, and have to release a fix yet. Who will be faster? :(

[2019-09-14 13:46] chauduyphanvu commented on #281
Hi everyone, to clarify, we should have a release BEFORE September 20. We're targeting early next week for that, so you can perform any necessary upgrade before iOS 13 is released on September 19.

Vu Chau
MoPub SDK Team

[2019-09-16 14:50] chauduyphanvu commented on #286
@djaygit, I see. I was misled by the 4.16.0 SDK version that you put in the issue description.

In this case, since you are already using the 5.5.0 SDK version, could you send me a zip of your Xcode project with which you saw the crash so we can debug the issue? Alternatively, you can paste here the code you use to initialize the MoPub SDK. If either option isn't possible, check out how our [iOS s

[2019-09-16 20:50] wimbledon opened #287 "Mopub 5.9.0 SDK does not build"
Cocoapod update from 5.8.0 to 5.9.0.
MOPUBNativeVideoImpressionAgent.h is missing.
And the SDK does not build.

[2019-09-16 20:58] chauduyphanvu commented on #281
The 5.9.0 iOS SDK is now live that should contain the fix. Please upgrade and let us know if you continue seeing the crash!

[2019-09-16 21:38] mmdock opened #288 "x-networktype requests native on a banner request clarification"
Just need to ask a clarifying question, and if this is an issue, can file a proper issue message on this thread.

i am seeing the following in the debug log of a banner ad request:

[code]

I see that the `x-networktype` is an "admob_native" even though I am requesting a banner ad.  Is this mistaken?  I am trying to figure out why i cannot get ads to fill in.  If there is documentation that can he

[2019-09-16 21:41] chauduyphanvu commented on #288
@mmdock, `admob_native` is a name we gave to the network connection internally. It doesn't hold a special meaning and doesn't denote it's for a native ad. The name [comes from the adapter](https://github.com/mopub/mopub-ios-mediation/blob/master/AdMob/GoogleAdMobAdapterConfiguration.m#L56) and is simply a hard-coded String.

If you don't get ads for banners, feel free to create a GitHub issue and

[2019-09-16 21:42] dravyan commented on #287
@wimbledon, thank you for reporting the issue. We have not seen this issue in our internal testing. Could you provide more details on your app's use case which needs `MOPUBNativeVideoImpressionAgent`?. This is not a Public API class and Publishers should not be using this class.  Instead, we can provide a recommendation based on your use case.

Thanks,
Dravya Nataraj
MoPub SDK Team

[2019-09-16 21:43] mmdock commented on #288
@chauduyphanvu thanks for the quick response.  I'll do some more testing on my end before finalizing if this is an issue or not.

[2019-09-16 21:43] #288 closed

[2019-09-16 22:21] chauduyphanvu commented on #285
@rob-keepsafe, this issue should now be resolved with the [5.9.0 release](https://github.com/mopub/mopub-ios-sdk/blob/master/CHANGELOG.md#version-590-september-16-2019) of the MoPub iOS SDK. We've removed all UIWebView code from the SDK.

Vu Chau
MoPub SDK Team

[2019-09-17 06:43] wimbledon commented on #287
Xcode Version 10.2.1 (10E1001)
Deployment Target: 9.0
SWIFT_VERSION=5.0

platform :ios, '9.0'
use_frameworks!
inhibit_all_warnings!
install! 'cocoapods', :deterministic_uuids => false

**Build Error:**
Pods/mopub-ios-sdk/MoPubSDK/NativeVideo/Internal/MOPUBNativeVideoImpressionAgent.h: No such file or directory

[2019-09-17 06:44] wimbledon commented on #287
@dravyan Looks like MOPUBNativeVideoImpressionAgent.h is used in 5.8.0 SDK but not in 5.9.0.
I was able to resolve the issue by `pod deintegrate` before `pod update`

[2019-09-17 06:44] #287 closed

[2019-09-17 08:01] djaygit commented on #286
@chauduyphanvu send you the project link on twitter, you can reply there. thanks for your help

[2019-09-17 18:10] #284 closed

[2019-09-19 01:19] rob-keepsafe commented on #285
Thanks for the quick changes, @chauduyphanvu 🙌  We'll test in an upcoming release

I'll go ahead and close this for now since I can't find any `UIWebView*` code in the repo now. (closed via 853cbf22ef14c3f5e4aedcf6f00c944d3a2b9843)

[2019-09-20 21:35] djaygit commented on #286
@chauduyphanvu please update on this
thanks

[2019-09-20 21:47] #281 closed

[2019-09-23 14:58] chauduyphanvu commented on #286
@djaygit, thanks for sending over the test app! I can confirm I was able to reproduce the exact crash, however it only happened once during the test session, so I did not have a chance to debug the issue.

Do you have a chance to upgrade to the latest 5.9.0 SDK release for this app? That is because we've had [a number of different changes](https://github.com/mopub/mopub-ios-sdk/commits/853cbf22ef1

[2019-09-24 19:22] djaygit commented on #286
same issue Crashed on 103 MPLogManager.m using 5.9.0

[2019-09-25 20:13] chauduyphanvu commented on #286
@djaygit, thank you for the confirmation! Could you please send the updated project over (like how you sent the first one)?

[2019-09-25 20:18] djaygit commented on #286
@chauduyphanvu  sent you the update version link

[2019-09-26 14:01] chauduyphanvu commented on #286
@djaygit So I'm not seeing the MoPub SDK is getting initialized in your app. That might be potentially leading to the crash. Could you initialize MoPub before making your ad requests?

[code]

Try that and let me know if you still see the crash. Thank you!

[2019-09-26 15:07] djaygit commented on #286
1. Okay so i added that in app delegate(right) "#import "MoPub.h"" and couln't run
<img width="789" alt="Screenshot 2019-09-26 at 8 31 51 PM" src="https://user-images.githubusercontent.com/1255841/65700220-e56a9c00-e09c-11e9-8668-dd7e2604507b.png">
<img width="999" alt="Screenshot 2019-09-26 at 8 31 00 PM" src="https://user-images.githubusercontent.com/1255841/65700221-e56a9c00-e09c-11e9-8f70-c356

[2019-10-02 16:38] hmertkahraman commented on #280
Hi @sainteye,

Thank you again for the effort here. We've been through your PR and the sample project you sent. We recognized what you suggest on the PR. And as mentioned we need to definitely reproduce the issue first.

So going back to the sample project you shared with us; could you please confirm that the project is the following one?

<img width="373" alt="Screenshot 2019-10-02 at 17 36 43" s

[2019-10-02 17:58] chauduyphanvu commented on #286
@djaygit, this crash (and perhaps the other one on this thread) is probably caused by the fact that your app is using Manual Reference Counting. Could you follow [our documentation](https://developers.mopub.com/next/ios-integration/#for-apps-using-mrc-tell-the-compiler-to-use-arc) to ensure compatibility with the MoPub iOS SDK?

Try that and let us know if you continue seeing the crashes. Ensure y

[2019-10-02 19:05] rob-keepsafe opened #289 "[iOS 13] Crash on MPConsoleLogger's use of NSLog"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: my issue was wi

[2019-10-02 19:13] rob-keepsafe opened #290 "[iOS 13] Crash in MPUBMoatWKWebViewBridge"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: Seems to be wit

[2019-10-02 19:16] rob-keepsafe opened #291 "[iOS 13] Crash within MPUBMoatLocationManager"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: Seems to be wit

[2019-10-02 19:26] rob-keepsafe opened #292 "[iOS 13] Crash within MPIdentityProvider -> identifierFromASIdentifierManager:"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: 5.4.0 and above

[2019-10-02 22:23] dravyan commented on #289
@rob-keepsafe , thank you for reporting the issue. Could you confirm the MoPub SDK version you are on?.` MPLogProvider` appears in the crash logs which has been removed since MoPub 5.5.0 SDK release. It looks like you are on SDK < 5.5.0. Try updating to the latest SDK available i.e, [5.9.0](https://github.com/mopub/mopub-ios-sdk/releases/tag/5.9.0) and that should fix the issue.

Thanks,
Dravya Na

[2019-10-03 14:49] chauduyphanvu commented on #291
@rob-keepsafe, thanks for letting us know! Let me take this back to the team and we'll see what we can do to resolve it.

Vu Chau
MoPub SDK Team

[2019-10-03 14:49] chauduyphanvu commented on #290
@rob-keepsafe, thanks for letting us know! Let me take this back to the team and we'll see what we can do to resolve it.

Vu Chau
MoPub SDK Team

[2019-10-03 14:49] chauduyphanvu commented on #292
@rob-keepsafe, thanks for letting us know! Let me take this back to the team and we'll see what we can do to resolve it.

Vu Chau
MoPub SDK Team

[2019-10-03 17:30] rob-keepsafe commented on #289
Good catch, thanks @dravyan (I forgot to check the API changes like the others, sorry!)

[2019-10-03 17:30] rob-keepsafe commented on #289
Keep in mind, this will still impact other `NSLog` callsites and we've seen a big variety of 3rd party ObjC libs crashing in the same exact way. Apple shipped some dirty code in iOS 13 so please be sure to audit where you're calling `NSLog` and only log in development 🙏

[2019-10-03 17:43] rob-keepsafe commented on #289
Going to reopen this as I still see the same code within `MPConsoleLogger` https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSDK/Logging/Internal/MPConsoleLogger.m#L25

This will cause the same crash we're experiencing and should only be logging in debug mode

[2019-10-03 19:13] dravyan commented on #289
@rob-keepsafe, That's right. We aware of it and our Engineering team will be working on removing `NSLog` for release build configuration in the future SDK releases. Please actively lookout for release notes once the new SDKs are available.

Thanks.,
Dravya Nataraj
MoPub SDKTeam

[2019-10-04 15:55] chauduyphanvu commented on #290
@rob-keepsafe, as you pointed out, this crash happens in the Moat SDK. Do you use Moat by any chance? If you don't, feel free to [disable it](https://github.com/mopub/mopub-ios-sdk#disabling-viewability-measurement).

In the meantime, we're going to speak with Moat and have them review this crash from their end. Thank you!

[2019-10-04 15:55] chauduyphanvu commented on #291
@rob-keepsafe, as you pointed out, this crash happens in the Moat SDK. Do you use Moat by any chance? If you don't, feel free to [disable it](https://github.com/mopub/mopub-ios-sdk#disabling-viewability-measurement).

In the meantime, we're going to speak with Moat and have them review this crash from their end. Thank you!

[2019-10-05 21:15] djaygit commented on #286
ok i tried that and getting this same issue

[2019-10-07 07:49] hmertkahraman commented on #280
Hi @sainteye,

We verified and merged your PR, and it would be available in the upcoming 5.10 release (early November). With this, you won't have to maintain the changes on each version update.

We thank you again for identifying this issue and contributing.

MoPub Team

[2019-10-07 16:58] chauduyphanvu commented on #286
@djaygit, could you send over your updated project showing the changes you've made?

To summarize, we want to 1) initialize MoPub, 2) set `Weak References in Manual Retain Release` to `YES`, and 3) add `-fobjc-arc` to all MoPub SDK files in the Build Phases.

[2019-10-09 10:41] sarfraz-pentaloop opened #293 "Close Button Not displayed"
![iPad](https://user-images.githubusercontent.com/49399812/66474687-35892b80-eaab-11e9-96d1-547402b0130d.png)
Close button not displayed on screen

[2019-10-10 14:10] hmertkahraman commented on #293
Hi @sarfraz-pentaloop,

Thanks for highlighting the issue. Can you please provide us some details:

- Is this `Plaftorm Native iOS` or `Unity > iOS`?
- MoPub SDK version
- Ad Unit Id used for this request.
- If known, which ad source this specific ad was sent from
- If it's a certified network ad, the adapter version of that network installed for MoPub. Or simply, all adapter versions.
- Device in

[2019-10-11 20:19] rsatrasala commented on #256
Closing due to inactivity.

[2019-10-11 20:19] #256 closed

[2019-10-14 14:52] chauduyphanvu commented on #286
@djaygit, there are build errors after you've made the above changes I suggested. Please take action to ensure that the app can successfully build with the changes in place. Once done, feel free to forward your buildable project to _support@mopub.com_ and the team will take a look. We're changing the support path for this issue because we suspect we are dealing with an integration/implementation i

[2019-10-14 19:16] rob-keepsafe commented on #292
This ends up crashing in certified adapters as well, so it seems like an Apple issue.

<img width="1533" alt="Screen Shot 2019-10-14 at 3 09 57 PM" src="https://user-images.githubusercontent.com/30269720/66776850-62678500-ee95-11e9-9e04-cb1ca9d4104e.png">

<img width="1442" alt="Screen Shot 2019-10-14 at 2 57 26 PM" src="https://user-images.githubusercontent.com/30269720/66776860-65fb0c00-ee95-11e

[2019-10-14 19:57] #286 closed

[2019-10-15 13:45] chauduyphanvu commented on #290
@rob-keepsafe, I'm working with Moat on debugging this crash. One of the items that came up was how frequently you are getting this crash. Do you have any data on that?

[2019-10-15 14:54] rob-keepsafe commented on #290
There is a chart in the original description @chauduyphanvu ; a lot of these crashes seem like Apple crashes but none have been fixed in 13.1.x or 13.2 so far 🙁

We're going to disable MOAT for now.

[2019-10-15 16:23] chauduyphanvu commented on #291
@rob-keepsafe - we received confirmation from Moat (in whose SDK this crash originates) that they have recently removed location code, which was a reason behind this crash, so we'll work on getting one of the newer Moat releases [from MoPub's perspective](https://github.com/mopub/mopub-ios-sdk/blob/master/mopub-ios-sdk.podspec#L59-L63). Stay tuned!

[2019-10-15 17:44] mmdock opened #294 "Modifying UI from background on MPAdView"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.9.0
#### Devi

[2019-10-15 18:25] chauduyphanvu commented on #294
@mmdock, do you have the complete raw text stack trace that we can take a look at? Thanks!

Vu Chau
MoPub SDK Tea,

[2019-10-15 18:30] mmdock commented on #294
@chauduyphanvu

Let me know what else you may need.  This is happening in my production application so i have whatever Crashlytics would have normally:

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x1c169c98c __exceptionPreprocess
1  libobjc.A.dylib                0x1c13c50a4 objc_exception_throw
2  Foundation                     0x1c1b72d64 -[NSISEngine try

[2019-10-15 18:45] chauduyphanvu commented on #294
Thank you!

Can you reproduce this crash locally? If you could, would you mind sharing a mini project that exhibits the crash or some code snippets?

Are you making your ad request or doing anything with your banner view on a background thread by any chance?

[2019-10-15 19:08] mmdock commented on #294
@chauduyphanvu hmm yeah, i am:

[code]
I request the ad unit id from our own internal api (don't ask me why my team decided that was best 🤷‍♂ ) and initialize it on the success completion of that call.

When adViewDidLoadAd gets called, everything is resized to be visible.

I have a helper ui function that i can wrap that code in that will make it happen on the UI thread and push that into a build

[2019-10-15 19:36] chauduyphanvu commented on #294
Sounds good! It should be some multithreading stuff going on here, so if you are able to force all MoPub-related code in your app to run on the UI thread, it's worth a try.

Also, do you guys modify the source code of the MoPub iOS SDK in any way? The stack trace references [line 72](https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSDK/MPAdView.m#L72) in the `MPAdView.m` class, but all that

[2019-10-16 16:06] chauduyphanvu commented on #285
@rob-keepsafe, thanks for flagging that. We're aware of the issue, and have been in touch with Avid for that. They will need to remove their `UIWebView` code in a future SDK; meanwhile, please remove their binary from disk and rebuild your app.

[2019-10-16 16:11] dylancopeland opened #295 "NSInvalidArgumentException being thrown from AVID library"
The AVID library is raising an exception that causes a host app to crash.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

[2019-10-17 17:01] dravyan commented on #295
@dylancopeland,
Looking at the stack trace it looks like the crash is triggered by the Viewability library AVID which is bundled in MoPub SDK source. In order to confirm that, could you try to disable or instead delete the  AVID binaries from the code base, clean, and rebuild again?. Let us know how it goes.
https://developers.mopub.com/publishers/ios/viewability/#opt-out

Thanks,
Dravya Nataraj
M

[2019-10-17 18:29] dylancopeland commented on #295
Hi @dravyan,

By removing all traces of AVID and effectively opting out of AVID, the crash does go away. This doesn't seem like a long term solution though. If buyers are interested in viewability metrics reported by AVID, they probably won't be buying for much longer.

Hopefully this can be fixed soon.

[2019-10-17 22:06] dravyan commented on #295
@dylancopeland , we have not been able to reproduce the issue so far on our end. I will relay this information to internal teams and keep an eye on such reports. If you have exact steps to replicate or if you can share the sample project zip, we can troubleshoot this further.

Thanks,
Dravya Nataraj
MoPub Team

[2019-10-18 14:39] dtorres opened #296 "New version of MoPub-Applovin-Adapters required"
AppLovin has released a new SDK (6.9.5), fixing a crash in their previous version which is the one currently supported (6.9.4) by `MoPub-Applovin-Adapters`.

Cocoapods constraints won't let us update to the fixed version. please publish a more lax requirement (~> 6.9) or a new version.

Thank you

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopu

[2019-10-18 16:41] chauduyphanvu commented on #296
@dtorres, v6.9.0.5 adapter working with v6.9.5 AppLovin SDK is now available via https://github.com/mopub/mopub-ios-mediation/commit/247871fc631f9b895e9fbf94a408535998718ffd. CocoaPods distribution should be available in the next few minutes.

Vu Chau
MoPub Support Team

[2019-10-18 18:31] mmdock commented on #294
@chauduyphanvu no we do not modify the SDK at all.

additionally, i think the same issue is occurring on another ad. It happens with `MPWebView`.
Thinking i can try the same thing, but not sure where this gets called from.  Is this the modal display for ads?

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x18791498c __exceptionPreprocess
1  libobjc.A.dylib

[2019-10-18 22:09] #296 closed

[2019-10-18 22:20] rsatrasala commented on #293
Closing due to inactivity. Please create a new issue if needed.

[2019-10-18 22:20] #293 closed

[2019-10-21 15:32] chauduyphanvu commented on #294
Your stack trace matches several others on the Google support forum: https://groups.google.com/forum/#!topic/google-admob-ads-sdk/PuHOKMX1mVI. It seems to be related to the Google Mobile Ads SDK but Google has yet to verify that in the discussion.

[2019-10-22 10:54] eddieespinal commented on #294
I'm having the same crash in my app on iOS 13.

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x1a374098c __exceptionPreprocess
1  libobjc.A.dylib                0x1a34690a4 objc_exception_throw
2  Foundation                     0x1a3c16d64 -[NSISEngine tryToOptimizeReturningMutuallyExclusiveConstraints]
3  Foundation                     0x1a3a21fd4 -[NSISEngi

[2019-10-28 08:07] tomato313 opened #299 "Rewarded Video Ads Overview no display ，Stuck at Attempting to show ad"
One line summary of the issue here

- [ ] I am submitting a bug report for existing functionality
- [ ] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ ] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: Latest
#### Dev

[2019-10-28 19:11] chauduyphanvu commented on #299
@tomato313, ad unit ID 8f000bd5e00246de9c789eed39ff6096 played without issues in the MoPub iOS sample app (it's in fact our test ad unit ID for rewarded video). That indicates what you are encountering might be an integration/implementation issue. Feel free to share your test app to support@mopub.com, and we'll be happy to take a look!

Vu Chau
MoPub Support Team

[2019-10-29 01:20] tomato313 commented on #299
thank you for your answer

[2019-10-29 01:21] tomato313 commented on #299
@chauduyphanvu  thank you for your answer

[2019-11-05 18:44] #299 closed

[2019-11-05 18:47] rsatrasala commented on #295
Closing due to inactivity.

[2019-11-05 18:47] #295 closed

[2019-11-05 18:48] #285 closed

[2019-11-08 08:42] nonsense0biubiu opened #300 "Dead Lock In the MPTimer.m(Non-thread safe)"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.9.0
#### Devi

[2019-11-08 08:55] nonsense0biubiu opened #301 "[MPCoreInstanceProvider currentRadioAccessTechnology] Cause Crash"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.9.0
#### Devi

[2019-11-08 09:02] nonsense0biubiu opened #302 "[MPAdServerURLBuilder(Ad) locationInformationDictionary] case Crash(Multithreading)"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.9.0
#### Devi

[2019-11-08 19:23] dravyan commented on #302
@nonsense0biubiu , thank you for letting us know. I will relay the information to our internal team and see what we can do to resolve it.

Thanks,
Dravya Nataraj
MoPub Team

[2019-11-08 22:21] chauduyphanvu commented on #301
@nonsense0biubiu, thanks for letting us know. Do you have a sample project that reproduces the issue locally? If you can paste the raw stack trace here, that'd also be great. Thank you!

Vu Chau
MoPub Team

[2019-11-08 22:30] chauduyphanvu commented on #300
@nonsense0biubiu, thanks for letting us know. I'll relay the details to the rest of the team. In the meantime, if you can send over a sample project that reproduces the issue, that'll help with debugging!

Vu Chau
MoPub Team

[2019-11-09 05:46] samwize opened #303 "MPAdServerCommunicator crash spiked since Nov 7"
There is a new crash, and a sudden spike, since Nov 7.

- [X] I am submitting a bug report for existing functionality
- [X] I visited https://developers.mopub.com/ and found no answer
- [X] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [X] I checked to make sure that this issue has not already been filed

#### MoPub SDK Vers

[2019-11-11 02:33] nonsense0biubiu commented on #300
how can I send you the  sample project?

[2019-11-11 15:04] chauduyphanvu commented on #300
@nonsense0biubiu, feel free to zip it up and send us a link. If the project is confidential, feel free to email it to support@mopub.com and reference this GitHub Issues thread. We'll be right with you!

[2019-11-11 15:11] chauduyphanvu commented on #303
@samwize, we've fixed a crash _similar_ to this one in one of the more recent SDK releases. Do you have a chance to upgrade to our latest iOS SDK version (5.10.0) and let us know if the crash persists? Otherwise, feel free to attach a sample project that reproduces the crash and we'll be happy to assist!

Vu Chau
MoPub Team

[2019-11-12 16:32] AndrewYab commented on #292
Hello,

The same problem is still happening with us since the beginning of Oct, and the problem is also happening with the latest MoPub SDK v5.10. Your urgent support is appreciated.

Please find below the crash log:
[code]

<img width="774" alt="Screen Shot 2019-11-12 at 7 26 33 PM" src="https://user-images.githubusercontent.com/1314378/68690465-20f4f300-0583-11ea-9b2b-258ddfa0b4a2.png">

[2019-11-12 18:50] chauduyphanvu commented on #292
@AndrewYab, the call stack points to the `FBAdUtility` from Facebook as having the immediate code that triggers the crash. We can let the Facebook team know about it! It seems the problem is related to `[LSApplicationWorkspace deviceIdentifierForAdvertising]` and `[ASIdentifierManager advertisingIdentifier]` on iOS 13, regardless of which ads SDK invokes them.

[2019-11-12 21:25] DavidLu7973 opened #304 "Calling MPInterstitialAdController gives "argument passed to call that takes no arguments" sometimes"
I sometimes get a build error when I'm building my app with MoPub ads.

- [X] I am submitting a bug report for existing functionality
- [X] I visited https://developers.mopub.com/ and found no answer
- [X] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [X] I checked to make sure that this issue has not already been filed

###

[2019-11-12 23:03] dravyan commented on #304
@DavidLu7973 , thanks for reporting. This looks to me like the Swift compiler version you are using. Can you share the Xcode and the Swift version you are on? Can you try with the recent versions? Let me know how it goes.

Thanks,
Dravya Nataraj
MoPub Team

[2019-11-13 21:46] DavidLu7973 commented on #304
@dravyan I have my Swift compiler version set to Swift 5, and my Xcode version is 11.1. I updated to Xcode 11.2.1 and am still seeing the same error.

![Screen Shot 2019-11-13 at 12 45 49 PM](https://user-images.githubusercontent.com/7572886/68802841-8bee0a80-0613-11ea-9d77-e02d60f5d061.png)

[2019-11-15 15:40] samwize commented on #303
I didn't try. I suppose this got to do with server side issue.

A spike over 3 days, then on Nov 10 there is zero crash.

[2019-11-15 16:13] dravyan commented on #304
@DavidLu7973, we have not been able to replicate the issue on our end. Can you share a sample project where we can see this issue to investigate further?

Thanks,
Dravya Nataraj
MoPub Team

[2019-11-15 23:12] chauduyphanvu commented on #303
Thanks for the confirmation. The code paths referenced in the stack trace point to the logic used to parse ad server responses, so it might have been due to bad creatives that got served on that days.

Let us know if this crash persists. If you have a chance to log the ad unit ID used to reproduce the crash in the wild, feel free to share it with us.

[2019-11-17 06:10] sainteye commented on #280
Hi @hmertkahraman ,

I think 5.10 release might be shipped with a small typo.
At MPTableViewAdPlacer.m line 147, I think it should be `[self.tableView deleteRowsAtIndexPaths:validIndexPaths withRowAnimation:UITableViewRowAnimationNone];`.
Now it is `[self.tableView deleteRowsAtIndexPaths:indexPaths withRowAnimation:UITableViewRowAnimationNone];`.

indexPaths -> validIndexPaths

We use 5.10 in our

[2019-11-18 17:33] hmertkahraman commented on #280
Hi @sainteye,

You are correct, thanks for raising this. Our team is looking into it and I will provide updates.

Mert

[2019-11-19 21:55] chauduyphanvu commented on #300
@nonsense0biubiu, we believe we identified the cause of the issue and will add a fix in the upcoming SDK release.

[2019-11-21 16:08] pangia commented on #294
We are also experiencing this crash.

[2019-11-21 22:13] chauduyphanvu commented on #294
@pangia, if your stack trace matches one in https://groups.google.com/forum/#!topic/google-admob-ads-sdk/PuHOKMX1mVI, please post and reach out to Google on that forum. Thank you!

[2019-11-22 23:38] rsatrasala commented on #303
Closing due to inactivity. Feel free to create a new issue if problem exists.

[2019-11-22 23:38] #303 closed

[2019-11-22 23:40] rsatrasala commented on #301
Closing due to inactivity. Feel free to create a new issue if problem exists.

[2019-11-22 23:40] #301 closed

[2019-12-12 00:36] sgabello opened #305 "Compile problem with "excluding native" zipped source file of the SDK 5.10.0"
The `MoPub Base SDK Excluding Native.zip` archive of the SDK 5.10.0 referenced [here](https://developers.mopub.com/publishers/ios/get-started/#step-1-download-the-mopub-ios-sdk), includes this [file](MoPubSDK/Internal/Utility/Categories/MPNativeAdError+VAST.h) which imports `MPNativeAdError.h`, which is not included in the archive, causing Xcode to throw an exception at compile time.

[2019-12-12 15:05] chauduyphanvu commented on #305
@sgabello, thanks for letting us know! Let me relay this to the rest of the team and we'll issue a fix.

Vu Chau
MoPub Team

[2019-12-13 15:46] pangia commented on #294
Is there any new news on this? Google has not been very helpful. They do supply a "workaround", but reports are that it severely impacts ad delivery and revenue. Just wondering if anyone has any new information?

[2019-12-13 16:01] pangia opened #306 "Banner ad documentation regarding constraints and rotation."
Documentation needs updating to include examples for iPhoneX/XR/etc. (devices with safe area.) All documentation is very old and does not take into account changes after iOS10.

Need details on when to set constraints for main view to account for banner view. When done in ViewDidLoad like in current documentation, the view has not yet adjusted for the safe space and banners are off. When done in v

[2019-12-16 05:44] huihui237250 opened #307 "Crash - VNGStoreKitProductViewProvider: extends beyond bounds for empty array"
One line summary of the issue here
Crash stack information: it looks like the array is out of bounds

Fatal Exception: NSRangeException
0  CoreFoundation                 0x1b232298c __exceptionPreprocess
1  libobjc.A.dylib                0x1b14fb9f8 objc_exception_throw
2  CoreFoundation                 0x1b229c3f8 _CFArgv
3  CoreFoundation                 0x1b220d988 -[__NSArrayM removeObjectsInR

[2019-12-16 18:57] chauduyphanvu commented on #294
@pangia, thanks for letting us know of the update from Google. We currently do not have any update or workaround from MoPub's perspective.

[2019-12-17 00:53] dravyan commented on #307
@huihui237250 , thank you for your report. Looking at the above stack trace  I do not see any references to the MoPub source. The exception is triggered by the `VNGStoreKitProductViewProvider` which seems to be a third party code?. Does your app include any third party library which could be calling `[VNGStoreKitProductViewProvider productViewControllerDidFinish:]`?

Thanks,
Dravya Nataraj
MoPub S

[2019-12-18 01:34] huihui237250 commented on #307
Ok，Thanks. We will check again.

[2019-12-18 19:39] chauduyphanvu commented on #305
@sgabello, to provide an update, we've addressed build issues with the "excluding native" zipped source internally. Barring any other technical issues, the fix should go out in an upcoming SDK release.

[2019-12-19 11:04] LongJiangSB opened #308 "Video ads are displayed in the game, but the game is not suspended"
One line summary of the issue here

- [ ] I am submitting a bug report for existing functionality
- [ ] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ ] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.10.0
#### Dev

[2019-12-19 13:25] sgabello commented on #305
Cheers, thanks for the update!

[2019-12-19 13:30] sgabello commented on #306
I second this ticket. Documentation needs a deep and detailed review. Code examples refer to APIs that have been marked as deprecated. For example: `MOPUB_BANNER_SIZE` is marked as deprecated, but used constantly throughout the documentation.

[2019-12-20 21:16] chauduyphanvu commented on #308
@LongJiangSB, could you clarify what you mean by "the game is not suspended"? If you wish to pause your game logic before showing the rewarded video, you are in control of that. Let us know if you need anything else!

Vu Chau
MoPub Team

[2019-12-20 23:37] rsatrasala commented on #304
Closing due to lack of reproduction steps. Please reopen a new issue if needed

[2019-12-20 23:37] #304 closed

[2019-12-20 23:39] rsatrasala commented on #260
Closing due to lack of inactivity. Please reopen a new issue if needed.

[2019-12-20 23:39] #260 closed

[2019-12-20 23:55] dravyan commented on #306
@pangia , thank you for reporting this. Please refer to the [`loadAdWithMaxAdSize`](https://github.com/mopub/mopub-ios-sdk/blob/853cbf22ef14c3f5e4aedcf6f00c944d3a2b9843/MoPubSDK/MPAdView.h#L124) where you can specify the maximum desired ad size to load. Then when the adView is loaded, the callback [`adViewDidLoadAd`](https://github.com/mopub/mopub-ios-sdk/blob/42bd0a4a365bacbbc9c4fe56fcec16c57629f

[2019-12-23 06:00] LongJiangSB commented on #308
I wont use `void UnityPause(int pause);` Func,
now i add code:
[code]

now it's work. thanks!

[2019-12-23 06:00] #308 closed

[2019-12-23 17:56] sarochych opened #309 "MPTimer: pause function does not work properly."
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.5.0
#### Devi

[2019-12-23 20:54] chauduyphanvu commented on #309
@sarochych, thanks for letting us know!

I see that you are using v5.5.0 of the MoPub iOS SDK. Could you try with the latest SDK release and let us know if you still see the behavior you reported? If so, could you let us know the steps or use case to reproduce that behavior? Thanks!

Vu Chau
MoPub Team

[2019-12-24 09:03] sarochych commented on #309
@chauduyphanvu thanks for your message!

I've updated to the latest version, nothing changed.
It reproduces constantly since it is related to the `MPTimer` class design.

Btw, below are steps to reproduce:
1. Add a banner to a view
2. call `startAutomaticallyRefreshingContents`
3. wait a half of the refresh interval
4. call `stopAutomaticallyAdRefreshing`
5. wait a few seconds
6. call  `startAutom

[2019-12-30 07:49] oooosa opened #310 "accessing userAgent value causes crashing"
In function `didFinishLaunchingWithOptions` I use the following code
[code]
which causes exception of EXC_BAD_ACCESS

#### MoPub SDK Version:
5.10.0
#### Device model and OS Version:
iOS 13.3 using iPhone 6s
#### Evidence:
on `NSLog(@"%@", agent);` the code stop executing. here check the screen shot
https://imgur.com/a/58UFxfx

[2019-12-30 17:32] chauduyphanvu commented on #310
@oooosa, is there a reason for calling `[MPWebBrowserUserAgentInfo userAgent]` in your app? If you simply want to get the user agent via the MoPub SDK, you should wait until after the SDK has finished initializing before doing that.

Let us know if you have any questions!

Vu Chau
MoPub Team

[2019-12-30 20:43] chauduyphanvu commented on #309
@sarochych, thanks for sharing the use case! We confirm that the behavior of using the initial time interval is by design (i.e. it works properly as intended). We do not plan to introduce the concept of pause and resume for refreshes, where the SDK would use the remaining time left in the interval.

If you would like to use a custom time interval, you can make use of `forceRefreshAd` ([API](https:

[2019-12-31 08:26] oooosa commented on #310
Hi @chauduyphanvu ,
finally someone from MoPub Team replied as I tried to call them through support as well but failed...
So on `initializeSdkWithConfiguration` application was throwing exception on  accessing `[MPWebBrowserUserAgentInfo userAgent]` value within the MoPubSDK files.
On debugging I discovered the value of `gUserAgent` in file` MPWebBrowserUserAgentInfo.m` somehow during initializati

[2020-01-02 15:43] chauduyphanvu commented on #310
@oooosa, thanks for the explanation!

While I wasn't able to run your project successfully (I suspect my machine is not configured to run Cocos2d-x-generated apps), I replicated your use case in the MoPub iOS sample app but without the Exception:

<img width="1680" alt="Screen Shot 2020-01-02 at 10 32 01 AM" src="https://user-images.githubusercontent.com/25616035/71675144-28e33f00-2d4b-11ea-84c8-e

[2020-01-02 16:54] oooosa commented on #310
@chauduyphanvu thanks for response, yes you are right you have not installed cocos creator that's why there are missing files and you can't build the project. I have tried to initialized the empty xcode project with MoPub SDK and it works for me as well but it does not build the exported game project from cocos creator. I have tried a very simple basic hello world game project as well and it does

[2020-01-03 21:55] chauduyphanvu commented on #310
@oooosa, thanks for the details!

Given that this project is generated using Cocos2d-x and not Android Studio / Xcode, MoPub does not support this use case and we aren't able to debug what might have gone wrong with your project. We confirmed that initialization in an Xcode-built project works without issues. I wonder if Cocos2d-x interferes with MoPub's user agent code in any way. My recommendati

[2020-01-06 23:04] #309 closed

[2020-01-06 23:05] #306 closed

[2020-01-06 23:08] #294 closed

[2020-01-09 17:30] charliefancelli commented on #280
Hi @hmertkahraman

Can you have an update ?
This crash is more than 3% of users (version 5.10 too)

[2020-01-10 15:04] hmertkahraman commented on #280
Hi @sainteye , @charliefancelli ,

The necessary update will be released within the upcoming release on 5.11, estimated late January.

Thanks,
Mert

[2020-01-13 18:52] #310 closed

[2020-01-13 18:54] #307 closed

[2020-01-13 18:54] rsatrasala commented on #307
Open a new issue if needed

[2020-01-15 09:43] Taher-17 opened #311 "MoPub SDK Initialisation Load"
One line summary of the issue here

The MoPub SDK does not get initialised

- [YES ] I am submitting a bug report for existing functionality
- [YES ] I visited https://developers.mopub.com/ and found no answer
- [YES ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [YES ] I checked to make sure that this issue has not already

[2020-01-15 10:06] Taher-17 commented on #311
UPDATE: moving the initialisation to the FIRST call after didFinishLaunching resolved this issue - I believe it still needs investigation

[2020-01-17 19:28] chauduyphanvu commented on #311
@Taher-17, since you're using `pod 'GoogleMobileAdsMediationMoPub'`, the Mobile Ads SDK from Google will handle initializing the MoPub SDK [via the adapters](https://github.com/googleads/googleads-mobile-ios-mediation/blob/01f5ba0640a3509a3ed3acf3188d3a1c3549e38f/adapters/MoPub/MoPubAdapter/GADMAdapterMoPubSingleton.m#L36-L53). As a result, you do not have to initialize the MoPub SDK in your app (

[2020-01-17 20:13] Taher-17 commented on #311
@chauduyphanvu Hey, thanks for the clarification. I was following this guide: https://developers.google.com/admob/ios/mediation/mopub which says that we should initialise the SDK.

[2020-01-17 20:14] chauduyphanvu commented on #311
@Taher-17, yes, in that case you can follow the second bullet from my suggestion:

[2020-01-17 20:17] Taher-17 commented on #311
@chauduyphanvu awesome, thank you.
Closing this issue.

[2020-01-17 20:17] #311 closed

[2020-01-29 10:48] Pingou opened #312 "app use all CPU resources after ad loading"
Cpu usage jumps to 80% and stay there after an interstitial loading

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### M

[2020-02-03 10:32] hmertkahraman commented on #312
Hi @Pingou,

Thanks for raising this issue.

In order to make sure if we understand the issue correctly, for where you mention:
```jump to >80% and never come down```
Can you please clarify for which of the following is the case:
A- Do you dismiss the interstitial with close button, and the memory usage doesn't come down to 0% after dismissing?
B- Do you keep the interstitial alive on the screen,

[2020-02-03 11:08] Pingou commented on #312
Hi @hmertkahraman ,

I do not even display the interstitial, I just load it.
I am not talking about memory usage but processor usage, which drains the battery very fast.

[2020-02-03 11:34] hmertkahraman commented on #312
Hi @Pingou ,

Your concern is well received on our end and we will investigate the issue further. Unfortunately we were initially unable to reproduce the issue; the results we get are:

The memory usage jumps to %32 from <%1 once the HTML Interstitial is **opened**, and then comes down to %0 when **dismissed**.

That's why we want to see if we can fully replicate your environment to troubleshoot t

[2020-02-03 13:27] Pingou commented on #312
- I tested with iPhone 11 Pro Max iOS 13.2.2 simulator.
Interestingly, on a real device (iPhone 8, iOS 13), it is not so bad, it just goes to 8% when loading ad and stay there. The console keeps outputing: "[Process] kill() returned unexpected error 1"

- My mac device:
2,3 GHz 8-Core Intel Core i9
32 GB 2667 MHz DDR4

- If I hit show (on the iPhone), usage goes from 8 (after loading) to 10 (showi

[2020-02-03 15:51] hmertkahraman commented on #312
Hi @Pingou ,

Thank you again for providing these details. We will investigate this issue on our end and will get back to you. Meanwhile, if you already integrated MoPub with your own project, that is not our sample app, we would appreciate if you can test it over there to see if the same processor usage spike occurs.

Thanks,
Mert

[2020-02-03 17:21] Pingou commented on #312
Thank you @hmertkahraman .
Yes, I have the same issue with my app, that's actually why I tried the sample app, to be sure that it was coming from MoPub.

[2020-02-05 17:38] hmertkahraman commented on #280
The necessary fix is shipped, please see the **Bug Fixes** heading on our [Changelog](https://github.com/mopub/mopub-ios-sdk/blob/master/CHANGELOG.md).

[2020-02-05 21:45] AndrewTerekhine opened #313 "Mopub-Moat module uses UIWebView which make apps non-acceptable by Apple. Workaround and Question."
Both Moat and Avid modules of MoPub iOS SDK inject UIWebView component, which will cause apps to be non-acceptable by Apple soon.

Apple will stop accepting submissions of apps that use UIWebView. I see you aware of the Avid module (https://github.com/mopub/mopub-ios-sdk/issues/285). But it's also used in Moat. Here is how to check that:
cd [project_path]/Pods/
find . -type f | grep -e ".a" -e ".f

[2020-02-06 13:30] hmertkahraman commented on #312
Hi @Pingou ,

Our investigations are continuing.

Meanwhile, we also want to request from you, if possible, an Xcode Instruments test that shows the CPU spike when you load ads. Our aim is to gather any useful information for us so that we can narrow down the domain. We'll also be in touch regarding our investigations.

Thanks,
Mert

[2020-02-06 16:15] kkarunakaran commented on #313
We had the same issue. Narrowed it down to Avid framework. MOAT may have string reference but no UIWebView API reference. I was able to confirm it by uploading a build with just AVID stripped to AppStoreConnect.

https://github.com/mopub/mopub-ios-sdk/issues/285
Also this issue has been flagged a while ago. It will be good if AVID is removed from GitHub until the issue is resolved. It is time cons

[2020-02-08 00:44] #305 closed

[2020-02-08 00:44] #300 closed

[2020-02-08 06:49] shinwan2 commented on #311
My team recently found this issue as well. If you choose this option

then you need to make sure to initialize MoPub **before** calling `GADMobileAds.startWithCompletionHandler` (it's already documented [here](https://developers.google.com/admob/ios/api/reference/Classes/GADMobileAds#/c:objc(cs)GADMobileAds(im)startWithCompletionHandler:)).

Otherwise there's a risk of deadlock. This stack trace b

[2020-02-14 21:34] #292 closed

[2020-02-18 15:40] hmertkahraman commented on #312
Hi @Pingou ,

Unfortunately we cannot reproduce the case on our end, despite we have the repro steps from you and target the same application. So checking in with you regarding the latest comment above to be able to help.

Thanks,
Mert

[2020-02-18 15:55] Pingou commented on #312
Hi @hmertkahraman,

Sorry for the delay, here is a screenshot, let me know if you need more.

<img width="1153" alt="Screenshot 2020-02-18 at 16 53 01" src="https://user-images.githubusercontent.com/915430/74752682-58a0c480-526f-11ea-9c12-566c23ca6baa.png">

Simulator iPhone 11 Pro, ios 13.2.2

[2020-02-18 18:50] chauduyphanvu commented on #313
@AndrewTerekhine @kkarunakaran, for those opting out of viewability (Moat and/or IAS), we have documentation on disabling it [here](https://github.com/mopub/mopub-ios-sdk#disabling-viewability-measurement). Meanwhile, let me check with the rest of the team on what we can do to make the app submission experience easier for you all.

Vu Chau
MoPub Team

[2020-02-19 09:57] hmertkahraman commented on #312
Thanks @Pingou ,

We will investigate these.

Mert

[2020-02-28 18:17] #280 closed

[2020-02-28 18:18] #289 closed

[2020-02-28 19:36] rob-keepsafe commented on #313
FYI: Apple has updated their guidance that they will no longer allow apps that support `UIWebView` starting in December 2020. Hopefully this is addressed much sooner

[2020-02-28 20:36] kkarunakaran commented on #313
https://developer.apple.com/news/?id=12232019b Do you refer to this news?

[2020-03-03 09:48] hmertkahraman commented on #312
Hi @Pingou ,

We are unfortunately unable to reproduce the issue on our end. I will update this thread if any new developments occur. Meanwhile, if you have any additional material or guidance that can help us, please send over.

Thanks,
Mert

[2020-03-03 14:11] #312 closed

[2020-03-10 01:47] zhangferry commented on #313
@chauduyphanvu I have encountered the same problem, but I need to use native ads and I still can't remove Moat and IAS. When can I solve this problem? Do you have a plan? Thanks you so much.

[2020-03-10 04:20] zhangferry commented on #313
@chauduyphanvu I solved this problem by setting the Podfile as
[code]

[2020-03-12 22:13] chauduyphanvu commented on #291
@rob-keepsafe - how do things look regarding this crash? Did it start dropping over the last couple of months?

We actually have a change of plan so the original proposal outlined in my earlier response will not apply. If you no longer see this crash, I'd like to close this issue. Thank you!

[2020-03-12 22:13] #291 closed

[2020-03-12 22:13] chauduyphanvu commented on #290
@rob-keepsafe - how do things look regarding this crash? Did it start dropping over the last couple of months?

We actually have a change of plan so the original proposal outlined in my earlier response will not apply. If you no longer see this crash, I'd like to close this issue. Thank you!

[2020-03-12 22:13] #290 closed

[2020-03-12 22:20] dravyan commented on #302
@nonsense0biubiu, the fix for the issue has been applied to our SDK and will be available in the next release. I will notify this thread once the fixed version is released.

Thanks,
Dravya Nataraj
MoPub Team

[2020-03-13 19:35] rob-keepsafe commented on #290
I don't see this in our top crashes at this time

[2020-03-13 19:35] rob-keepsafe commented on #291
I don't see it in our top crashes at this time

[2020-03-24 16:27] saldous opened #314 "MPViewabilityTracker - no visible interface error"
![Screen Shot 2020-03-24 at 12 24 03 PM](https://user-images.githubusercontent.com/3334306/77451169-b2def900-6dca-11ea-9433-5bbf198d75ca.jpg)

[2020-03-24 16:58] dravyan commented on #314
@saldous, could you share your podfile? Have you integrated Viewability SDK as mentioned in the [documentation](http://localhost:4001/publishers/ios/viewability/#cocoapods-integration)?

Thanks,
Dravya Nataraj
MoPub Team

[2020-03-24 17:03] saldous commented on #314
oh.. is that a new requirement? I just updated pods on a project from 3 months ago. Didn't realize you changed the requirements.

[2020-03-24 17:41] dravyan commented on #314
@saldous, You are using Google mediation. As per their documentation, their latest adapters are compatible with MoPub SDK 5.11.0 - https://developers.google.com/admob/ios/mediation/mopub#mopub-ios-mediation-adapter-changelog.

From the screenshot, I notice that the file name is `MRController 2.m`. [MoPub SDK](https://github.com/mopub/mopub-ios-sdk) do not have such a file name or the method name `

[2020-03-24 18:11] saldous commented on #314
Everything was working a month ago, I just did a pods update and it broke.

[2020-03-24 20:04] #314 closed

[2020-03-28 20:13] mahesh-khokhar commented on #313
still I m getting issue to load Interstitial ads

[2020-03-30 13:45] chauduyphanvu commented on #313
@mahesh-khokhar, this thread doesn't contain the same issue as the one illustrated via your log messages. Please consider opening a separate issue and filling out the details, and we'll be happy to help!

[2020-04-02 15:52] polmum commented on #313
We just checked, and the issue appears to be both in Avid and in Moat. We uploaded a version with Moat only, and we still got the UIWebView warning. Removing both libraries does appear to be effective.
Is there a plan on updating either of these to a version without UIWebViews? Or is opting out of viewability the only option available?

[2020-04-03 14:50] chauduyphanvu commented on #313
@polmum, thanks for letting us know! Currently we do not have an update regarding our plan. I'll be sure to share something here as soon as I have one.

[2020-04-07 09:22] KAMIKAZEUA opened #315 "5.12.0 is still using UIWebView"
One line summary of the issue here

- [x ] I am submitting a bug report for existing functionality
- [ x] I visited https://developers.mopub.com/ and found no answer
- [ x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x ] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: 5.12.0

###

[2020-04-07 17:59] chauduyphanvu commented on #315
@KAMIKAZEUA, thanks for letting us know! The 5.12.0 MoPub SDK framework on the release page has been updated. Let us know if you need anything else!

Vu Chau
MoPub Team

[2020-04-07 17:59] #315 closed

[2020-04-10 18:55] chauduyphanvu commented on #302
This should be fixed in the 5.12.0 SDK release. Let us know if you continue seeing the issue!

Vu Chau
MoPub Team

[2020-04-10 18:55] #302 closed

[2020-04-13 12:45] mobile-ads-github opened #316 "No click tracking in banner ads with MPBannerCustomEventAdapter"
Hello

I'm using custom banner adapter for MoPub mediation with ```enableAutomaticImpressionAndClickTracking=false```. I've noticed that after release mopub-ios-sdk 5.12.0 clicks stop tracking. And I've noticed this change occurred  in ```MPBannerCustomEventAdapter``` in release 5.12.0
https://github.com/mopub/mopub-ios-sdk/commit/01105fa081855b1b71316791d03c927be7ebc92b
<img width="981" alt="Scre

[2020-04-14 17:58] dravyan commented on #316
@mobile-ads-github , thank you for reporting. We will take a look and get back to you.

Thanks,
MoPub Team

[2020-04-16 18:10] chauduyphanvu commented on #316
@mobile-ads-github, this issue has now been addressed in [v5.12.1](https://github.com/mopub/mopub-ios-sdk/commit/a87e944187e8ee5ddbd236222345af96a0cd1e7a) of the iOS SDK. Upgrade to this version and let us know if you continue seeing the issue!

Vu Chau
MoPub Team

[2020-04-16 18:10] #316 closed

[2020-04-23 23:38] rob-keepsafe opened #317 "MPWebBrowserUserAgentInfo deadlock in iOS 13.x"
MPWebBrowserUserAgentInfo deadlocks after trying to determine user agent from a web kit view.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not

[2020-04-23 23:50] rob-keepsafe commented on #317
This actually looks like it could be a deadlock from `MPTimer` as well which was addressed in https://github.com/mopub/mopub-ios-sdk/commit/3f696fe2f8c6b529fa5e8c0587a98e9f62b9f8ad#diff-4844b334cfea1cf4f07e8e8f04d6456dL54

We'll have a look if upgrading does indeed work around this

[2020-04-23 23:56] rob-keepsafe commented on #289
Still seeing `NSLog` in [latest releases](https://github.com/mopub/mopub-ios-sdk/blob/master/MoPubSDK/Logging/Internal/MPConsoleLogger.m#L25) even though @chauduyphanvu closed this issue in February. Unless fixed, I'd prefer this issue be addressed so we don't have to maintain a fork 🙏

[2020-04-24 02:02] rob-keepsafe opened #318 "MPTimer's timer is not thread safe and causes EXC_BAD_ACCESS"
One line summary of the issue here

MPTimer's `NSTimer` is nil when init'ed from a background queue and causes an EXC_BAD_ACCESS

<img width="1792" alt="Screen Shot 2020-04-23 at 3 52 58 PM" src="https://user-images.githubusercontent.com/30269720/80166856-ac36d380-857a-11ea-9903-8d914a171cbd.png">

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mop

[2020-04-24 02:33] rob-keepsafe commented on #317
Confirmed that this is its own deadlock and not caused by `MPTimer` since it happens repeatedly to me during development

It's seems to always happen at the `[WKWebView new]` call, so this feels like an issue worth filing w/ Apple since it repros without any MoPub code.

I've tried:
- 👎 replacing with a dispatch after (which didn't help)
- 👎 changed the webkit init to pass in a `WKWebViewConfigura

[2020-04-24 16:47] dravyan commented on #317
@rob-keepsafe , thank you for reporting the issue. We will take a look and get back to you once we have more information to share.

Thanks,
MoPub Team

[2020-04-24 18:33] chauduyphanvu commented on #289
@rob-keepsafe, are you still seeing crashes on that line or related to `NSLog` with 5.12.1? Or was it a concern about potential crashes?

We have the `NSLog` call that you mentioned for internal usage only. When in prod, you should disable logging, so that line won't get called.

[2020-04-24 20:48] rob-keepsafe commented on #317
I've commented on WebKit's bug tracker with more detail (https://bugs.webkit.org/show_bug.cgi?id=172362#c11)

This is arguably a bug in both AppLovin and WebKit since AppLovin is creating a web view on the background queue and hanging MoPub (which is doing "the right thing") and WebKit is hanging the main thread with its use of `std::call_once` https://github.com/WebKit/webkit/blob/master/Source/W

[2020-04-24 23:10] rob-keepsafe commented on #317
Radar filed: https://feedbackassistant.apple.com/feedback/7675358

[2020-04-24 23:31] rob-keepsafe commented on #289
It was more a concern about potential crashes since I wasn't aware how that code would be called and I don't trust iOS to be stable enough if they somehow broke NSLog in past releases. Thanks for the clarification 👍

[2020-04-27 13:43] chauduyphanvu commented on #318
@rob-keepsafe, thanks for letting us know! We do have internal work in progress to resolve this crash. More to come soon!

Vu Chau
MoPub Team

[2020-05-06 11:57] devSC opened #319 "Media auto-played in background when MPRewardedVideoReward is loaded"

[2020-05-07 02:28] dgaedcke commented on #313
Apple is now rejecting any NEW apps containing MoPub SDK 5.12.1 due to UIWebView being used in Avid & MOAT ... are you guys seriously leaving this ticket open without comment or fix for over a full month while your developers deal with this??  Please give us a patch or instructions to fix manually.

[2020-05-07 06:56] damian-kolakowski commented on #313
@dgaedcke A temporary solution may be replacing _pod InMobiSDK_ with _pod 'InMobiSDK/Core'_. Not perfect but enough for app submission.

[2020-05-11 23:34] kamranpirwani commented on #313
Same issue here on our end, apps are not able to be updated..

[2020-05-12 17:59] chauduyphanvu commented on #313
Hi all, if you are flagged by Apple for UIWebView, you need to remove the Moat and IAS SDKs from your project, rebuild the app, and resubmit the app to the App Store. Note that this only affects new apps submitted to the App Store. Existing apps can continue receiving updates with Moat/IAS until December 2020.

To remove Moat and IAS, follow [these instructions](https://github.com/mopub/mopub-ios-

[2020-05-12 18:43] kamranpirwani commented on #313
@chauduyphanvu What about all of the mopub adapters whom are also using the UIWebViews?

[2020-05-12 18:50] chauduyphanvu commented on #313
@kamranpirwani, we have confirmed with our mediation partners that their SDKs have also removed UIWebView code. To the best of our knowledge, there have been no UIWebView rejections from Apple regarding mediation (adapters & SDKs).

Are you seeing any rejection for specific ad network SDK?

[2020-05-12 19:17] kamranpirwani commented on #313
Binary file ./ios/Pods/AdColony/AdColony.framework/AdColony matches
Binary file ./ios/Pods/Google-Mobile-Ads-SDK/Frameworks/GoogleMobileAdsFramework-Current/GoogleMobileAds.framework/GoogleMobileAds matches
Binary file ./ios/Pods/VungleSDK-iOS/VungleSDK.framework/VungleSDK matches
Binary file ./ios/Pods/mopub-ios-sdk/MoPubSDK/Viewability/Avid/libAvid-mopub-3.6.1.a matches
Binary file ./ios/Pods/mo

[2020-05-12 19:24] chauduyphanvu commented on #313
@kamranpirwani, could you confirm the versions of the above SDKs you have integrated in your apps?

Here is our data:

![image](https://user-images.githubusercontent.com/25616035/81736432-907d6980-9464-11ea-9fbd-41186ce38618.png)

[2020-05-12 20:05] kamranpirwani commented on #313
I've verified I'm on or > than all of these versions using my MoPub adapters but still seeing problems for:

Binary file ./ios/Pods/AdColony/AdColony.framework/AdColony matches
Binary file ./ios/Pods/Google-Mobile-Ads-SDK/Frameworks/GoogleMobileAdsFramework-Current/GoogleMobileAds.framework/GoogleMobileAds matches
Binary file ./ios/Pods/VungleSDK-iOS/VungleSDK.framework/VungleSDK matches
Binary fi

[2020-05-13 16:48] chauduyphanvu commented on #313
@kamranpirwani, thanks for the check. We still need to know the exact adapter and mediation SDK versions you have integrated that you found UIWebView references in. We have confirmed with all ad networks that they have removed UIWebVIew from their SDKs.

If you can share your search methodology, that would also help us confirm. Thank you!

[2020-05-20 07:10] damian-kolakowski commented on #313
@chauduyphanvu you can use **nm** command for detection:

[code]

INMMoatMobileAppKit is not ok becuase it has some references to U __OBJC_CLASS_$_UIWebView_. InMobiSDK is ok.

[2020-05-20 19:07] chauduyphanvu commented on #313
Thanks, @damian-kolakowski. InMobi is not one of our official network partners, and it looks like [INMMoatMobileAppKit](https://support.inmobi.com/monetize/ios-guidelines/) belongs to them. Could you raise this to their attention?

All of [MoPub's official network partners](https://developers.mopub.com/publishers/mediation/supported-mediation-partners/) have confirmed that they no longer use UIWeb

[2020-05-28 18:22] damian-kolakowski commented on #313
@chauduyphanvu thanks for the clarification👍

[2020-05-29 21:56] #317 closed

[2020-06-01 11:20] pm-preety-narvekar opened #320 "iOS: Unable to execute click tracker manually from Custom Event class for banner"
One line summary of the issue here

In mediation workflow, in order to execute click tracker manually, I added following code in my custom event class for banner ad (which has superclass ```MPBannerCustomEvent```):
[code]
and called ```[self.delegate trackClick]``` when ad click occurs.
But the click count is not getting reflected on MoPub's portal.

- [x] I am submitting a bug report for existing

[2020-06-01 13:25] chauduyphanvu commented on #320
@pm-preety-narvekar, this issue has been fixed in the [5.12.1 ](https://github.com/mopub/mopub-ios-sdk/blob/master/CHANGELOG.md#version-5121-april-16-2020) release of the MoPub SDK. Please upgrade the SDK and let us know if you continue seeing the issue!

Vu Chau
MoPub Team

[2020-06-01 13:25] #320 closed

[2020-06-03 10:14] pm-preety-narvekar commented on #320
Awesome!! Thank you for the information. It is working fine with 5.12.1

[2020-06-03 20:33] alexeyvolkov-dev commented on #313
Hello, here are my findings.
used the following pods:
pod 'mopub-ios-sdk'
pod 'MoPub-AdMob-Adapters'
pod 'MoPub-Applovin-Adapters'
pod 'MoPub-FacebookAudienceNetwork-Adapters'

alex@Alexeys-MacBook-Pro gamep % grep -r "UIWebView" .
Binary file ./Pods/Google-Mobile-Ads-SDK/Frameworks/GoogleMobileAdsFramework-Current/GoogleMobileAds.framework/GoogleMobileAds matches
Binary file ./Pods/mopub-ios-sdk/

[2020-06-04 16:26] azarovalex commented on #313
@alexeyvolkov-dev

Actually, this command can't give you precise information about frameworks that uses UIWebView. In your example, you can see GoogleMobileAds library, but they've already removed UIWebView usage. Though they have a class that has a _UIWebView_ as part of the name, that won't affect AppStore acceptance, because the class doesn't actually link with actual UIWebView from UIKit and o

[2020-06-04 16:29] chauduyphanvu commented on #313
@alexeyvolkov-dev, this issue will be resolved in the 5.13.0 MoPub SDK, which will remove Moat and IAS SDKs. For mediation SDKs, please confirm the versions you integrated. Refer to https://github.com/mopub/mopub-ios-sdk/issues/313#issuecomment-627543815 for the versions that no longer had UIWebView.

[2020-06-15 21:27] chauduyphanvu commented on #318
@rob-keepsafe, this should now be addressed in the 5.13.0 release of the MoPub iOS SDK.

[2020-06-15 21:27] #318 closed

[2020-06-15 21:28] chauduyphanvu commented on #313
This issue is now resolved in the 5.13.0 release of the MoPub iOS SDK.

[2020-06-15 21:28] #313 closed

[2020-06-17 10:14] wimbledon commented on #313
@chauduyphanvu, can we at least release a version that fixes this UIWebView issue for iOS 9.0 before dropping the support?
Please see https://github.com/CocoaPods/Specs/pull/14462

[2020-06-17 13:21] alexeyvolkov-dev commented on #313
5.13.0 just worked for me. Uploaded my app without any UIWebView warnings from Apple. Thank you.

[2020-06-22 10:58] pm-preety-narvekar opened #321 "Unable to show Rewarded video"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

Integration of rewarded video is done a

[2020-06-24 05:33] dravyan commented on #321
@pm-preety-narvekar, thank you for your question. The reward for an adunit is set on the MoPub UI and the SDK will fetch the available rewards from our server at `availableRewardsForAdUnitID`. It is recommended to set the reward on the MoPub UI as suggested in our [documentation](https://developers.mopub.com/publishers/ios/rewarded-video/#step-5-show-the-rewarded-video).

Thanks,
MoPub Team

[2020-06-24 11:01] avalon451990 opened #322 "IOS UIWebView policy"
Using version 5.11.0,but refused by apple store for UIWebView policy!

Found that version 5.9.0 have resolved!!

[2020-06-24 16:49] chauduyphanvu commented on #322
@avalon451990, the UIWebView issue has been completely addressed in the 5.13.0 SDK release, where we removed the Moat and IAS viewability SDKs. Feel free to upgrade to that version to get this fix!

Vu Chau
MoPub Team

[2020-06-24 16:49] #322 closed

[2020-06-27 17:37] sgabello opened #323 "Info.plist in MoPubSDK folder cause build time error in Xcode."
At build time, Xcode copies all the files for a target in the same directory. Hence you cannot have files with the same name in different folders for the same target. `Info.plist` is already the default project plist file. Another copy cannot be added to the project. It should be removed from the repository, given a different name, or the documentation should contain instructions on what to do wit

[2020-06-29 02:33] dinghub opened #324 "a bug in iOS SDK"
One line summary of the issue here

- [ ] I am submitting a bug report for existing functionality

iOS SDK
code in file MPImageLoader.m,
function
- (void)loadImageForURL:(NSURL *)imageURL intoImageView:(UIImageView *)imageView
line 42:
isAdViewInHierarchy = [self.delegate nativeAdViewInViewHierarchy];

the delegate is a weak property, this line has big chance to fail, because it's running in block

[2020-06-29 16:37] wimbledon opened #325 "iOS 9 support"
@chauduyphanvu, can we at least release mopub-ios-sdk SDK version that fixes the UIWebView issue (#313) for iOS 9 before dropping the iOS 9 support?
iOS 9 is still supported on Xcode 11 until the end of the year and all other ad SDKs support iOS 9.0 currently.
Thank you for your consideration.

[2020-06-29 20:00] dravyan commented on #323
@sgabello, thank you for reporting. You can delete the `info.plist` from the MoPubSDK folder if you are integrating via source if it is causing any build issues for you. That should resolve the issue.

Thanks,
MoPub Team

[2020-06-29 20:03] dravyan commented on #324
@dinghub, thank you for reaching out. The delegates should be weak to prevent retain cycles. This is intended and by design. if delegate becomes nil then the method call will just silently fail and continue. Are you noticing any crash or error?. If yes, can you share logs and steps to replicate?

Thanks,
MoPub Team

[2020-06-29 21:16] chauduyphanvu commented on #325
@wimbledon, thanks for sharing your feedback with us! We made the decision to move to iOS 10 in 5.13.0 due to a combination of bug fixes and new feature additions that depend on iOS 10, as well as the low traffic on iOS 9 we had been observing internally.

I've relayed your feedback to the rest of the team, but in the meantime we do not have any plans to release a version that removes Moat/IAS (fi

[2020-06-29 22:09] sgabello commented on #323
@dravyan thanks! Will do.

[2020-07-01 06:16] dinghub commented on #324
Thank you for the reply.
the weak declaration of the delegate is ok, but inside the block, you should retain it, similar as strong_self. Otherwise, isAdViewInHierarchy will be always false.
This issue should be related issue #266
https://github.com/mopub/mopub-ios-sdk/issues/266

since FVivolo provided codes to reproduce the problem in #266, I will not prepare the code again. Please let me know if

[2020-07-02 12:07] im-ttmskk opened #326 "Why is the public interface of "MPFullscreenAdAdapter.hasAdAvailable" writable?"
I don't know if the adapter needs to accept availability changes externally.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been file

[2020-07-02 22:21] chauduyphanvu commented on #326
@im-ttmskk, thanks for letting us know! I've relayed this to the rest of the team, and we will be addressing this in an upcoming SDK version. Let us know if you have any questions!

Vu Chau
MoPub Team

[2020-07-06 14:34] egorlitvinenko opened #327 "SKAdNetwork support"
Do you have plans to add support for SKAdNetwork into SDK?

- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### Device model and OS Version:
IOS 14

#### Xcode Version:
Xcode 12

[2020-07-06 16:12] #321 closed

[2020-07-06 19:00] #325 closed

[2020-07-06 19:08] chauduyphanvu commented on #327
@egorlitvinenko, thanks for getting in touch!

Regarding SKAdNetwork, MoPub is exploring whether to support it. We do not have a timeline at this point. Let us know if there are any questions!

Vu Chau
MoPub Team

[2020-07-10 21:21] #319 closed

[2020-07-13 08:54] egorlitvinenko commented on #327
@chauduyphanvu
What is the reason you have closed the ticket?
Any updates on it?

[2020-07-13 15:10] chauduyphanvu commented on #327
@egorlitvinenko, we currently do not have an update yet, but will let you know!

[2020-07-17 13:10] egorafanasenko commented on #327
@chauduyphanvu could you give us any estimation on this. As a game developer that is using **mopub** we need to understand whether you are going to support SKAdNetwork, or we need to do it on our side. thanks!

[2020-07-17 17:15] chauduyphanvu commented on #327
@egorafanasenko, yes, we will be supporting SKAdNetwork. More details will come soon—stay tuned!

[2020-07-21 21:20] dravyan commented on #324
@dinghub, do you still need help on this issue?. This design decision is to handle the issues retain cycles. if you have made any changes in your project and can share it to test it out, let us know.

[2020-07-22 09:14] ir2pid opened #328 "No ads found for test ad unit: 0ac59b0996d947309c33f59d6676399f"
One line summary of the issue here

- [x ] I am submitting a bug report for existing functionality
- [x ] I visited https://developers.mopub.com/ and found no answer
- [ x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.8.0
####

[2020-07-23 05:54] p158276 commented on #328
Hi @ir2pid,
Thanks for reaching out.
From the code you provided, please make sure to [set the frame size](https://developers.mopub.com/publishers/ios/banner/#step-2-edit-your-view-controllers-implementation-file) before loading an ad.
If there is no parent view then `kMPPresetMaxAdSizeMatchFrame.width` and `kMPPresetMaxAdSizeMatchFrame.height` will be -1 which will result in no ads.
You can try wi

[2020-07-23 08:43] ir2pid commented on #328
This works now, thanks.
`No ads found for ad unit: 0ac59b0996d947309c33f59d6676399f` is not the right error message.
`View can't display ad` should be appropriate.

[2020-07-24 10:04] lukevanin opened #329 "Periodic audio polling interfering with app audio"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
[code]

#### De

[2020-07-24 14:46] chauduyphanvu commented on #329
@lukevanin, the caller (`MPUBMoatBridge`) is the Moat SDK and not MoPub. Moreover, we no longer bundle Moat in [v5.13.0](https://github.com/mopub/mopub-ios-sdk/blob/master/CHANGELOG.md#version-5130-june-15-2020).

I see that you are using v5.12.1. Please upgrade to 5.13.0 to resolve this issue. Thank you!

Vu Chau
MoPub Team

[2020-07-27 07:10] p158276 commented on #328
Hi @ir2pid ,
Thanks for the feedback. We'll bring back your suggestion to our internal team.

Yoyo Lin,
MoPub team

[2020-07-27 15:12] egorlitvinenko commented on #327
https://developers.mopub.com/dsps/integration/ios14proposal/

[2020-07-28 13:18] #329 closed

[2020-07-31 17:43] mmdock opened #331 "Fatal Exception: NSInvalidArgumentException initWithAdProperties"
One line summary of the issue here
Top crash of my app is from MoPub, and it has been growing the last few weeks.
- [X] I am submitting a bug report for existing functionality
- [X] I visited https://developers.mopub.com/ and found no answer
- [X] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [X] I checked to make sure that

[2020-07-31 20:09] dravyan commented on #331
@mmdock, this issue has been resolved in the latest MoPub SDK release [5.13.x](https://github.com/mopub/mopub-ios-sdk/releases). We recommend updating to the latest SDK 5.13.1. Let us know how it goes.

Thanks,
MoPub Team

[2020-08-06 16:29] #331 closed

[2020-08-06 16:30] #324 closed

[2020-08-17 11:39] heyarny opened #334 "Unify proper AudioSession handling for mopub and adapters for (native) ads"
We're having an App with Audio Playback features and use native ads inside our feeds.

Now we noticed our audio just stops and resumes as some muted video ad appears or disappears.
This ruins the user experience of our app.

There are ways to implement delegates from admob/facebook frameworks, but they're very different and even makes it impossible to implement them without breaking the whole mopu

[2020-08-19 07:20] p158276 commented on #334
Hi @heyarny ,
Thanks for reaching out.
May I know what audio library are you using in your project?

Yoyo Lin,
MoPub Support Team

[2020-08-20 09:40] heyarny commented on #334
@p158276
I'm using the native AudioQueue/CoreAudio of iOS.

MoPub SDK Version: 5.13.1
Device model and OS Version: iPhoneXs, iOS 13.5.1
Xcode Version: 11.6
Ad Unit IDs used in reproducing the issue: Use the native video unit ids
Steps to reproduce the behavior:
1. Play some background audio in your app.
2. Let the video ad appear (scroll to it or switch to the view with the native ad)

Expected be

[2020-08-24 12:22] p158276 commented on #334
Hi @heyarny,
Thanks for letting us know. We currently don't have the audio session delegates. I'll circle back to the internal team and let you know if there's any update.

For the background sound interrupt behaviour:
I tried to test AVAudioSession/AVAudioPlayer with the native ad and the music won't be interrupted when ad shows. Can you try the combination above and see if it works for you?

Tha

[2020-08-24 16:55] heyarny commented on #334
@p158276
It happens with native ads from admob and facebook.

I haven't tested it with mopub marketplace, as I never get any inventory there (been trying to contact support several times, without any response and gave up on that) and there is no ad unit id for native videos ads.
So no idea about mopub itself.

[2020-08-25 02:17] Baoyin-Sun opened #335 "Third party AdNetwork returned through mediation requests cannot be resolved"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.13.1
#### Dev

[2020-08-25 14:57] chauduyphanvu commented on #335
@Baoyin-Sun, thanks for letting us know! Would you be able to share the ad unit ID you used to reproduce that error? If not, is it possible to share some console/device logs with us (make sure you have the debug log level for extra verbosity). Thanks!

Vu Chau
MoPub Team

[2020-08-26 05:52] Baoyin-Sun commented on #335
@chauduyphanvu, unit ID : c6f66411472547099792700f5c407e75,
[Mopub Log.txt](https://github.com/mopub/mopub-ios-sdk/files/5127846/Mopub.Log.txt)

[2020-08-26 09:10] #335 closed

[2020-08-26 23:23] serg94 opened #336 "Companion Ad JavaScript Resource requires JS file link, but if the content is URL, it opens that URL as html page link. the same is with iFrame resource type"
https://github.com/mopub/mopub-ios-sdk/blob/4005ef1c475231136092207be6752d213f69057c/MoPubSDK/Internal/VideoPlayer/MPVASTCompanionAdView.m#L117-L120

https://github.com/mopub/mopub-ios-sdk/blob/4005ef1c475231136092207be6752d213f69057c/MoPubSDK/Internal/VAST/MPVASTResource.m#L71

[2020-08-27 10:37] p158276 commented on #334
Hi @heyarny ,
I've tested with Admob and Facebook native video. Both worked fine by using AVAudioSession/AVAudioPlayer and the music won't be interrupted when ad shows.

Can you try the combination above and see if it works for you? If not, feel free to send us the project or try to reproduce the same problem in our [Sample app](https://github.com/mopub/mopub-ios-sdk/tree/master/Canary). Our team

[2020-08-27 10:48] heyarny commented on #334
@p158276 what AVAudioSession category are you using?
I'm using AVAudioSessionCategoryPlayback.

[2020-08-27 16:58] chauduyphanvu commented on #336
@serg94, could you elaborate on what exactly the issue you are reporting is?

If possible, we encourage you to fill out the issue template so we have information to work with:

[code]

[2020-08-28 09:44] p158276 commented on #334
I'm using AVAudioSessionCategoryPlayback too.

Here is my code snippet in our Sample app project.

[code]

[2020-09-02 11:12] xta commented on #328
I ran into this issue as well. I was using `CGRectMake(0, 0, kMPPresetMaxAdSizeMatchFrame.width, kMPPresetMaxAdSizeMatchFrame.height)` from the docs and it didn't work. Setting a test size (320 x 50) worked for me.

When I was getting "No ads found for ad unit" in logs, that message is confusing and inaccurate.

[2020-09-02 11:14] xta opened #337 "Repo has broken link for additional documentation"
Repo readme links to "https://www.mopub.com/en/resources/docs" which is not a valid page.

- [ ] I am submitting a bug report for existing functionality
- [ ] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [X] I checked to make sure that this issue has not alre

[2020-09-02 11:45] LucileBillard opened #338 "Companion ad not showing"
On the 5.13.1 mopub **sample app** (sdk 5.13.1) the companion ad image does not show (But it works fine when using an old version the of sample app with **sdk 5.7.1** )

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has n

[2020-09-02 21:26] chauduyphanvu commented on #337
Thanks for letting us know! That's an old URL, and we'll remove it from the README.

Vu Chau
MoPub Team

[2020-09-02 23:01] chauduyphanvu commented on #338
@LucileBillard, I tested your ad unit ID in our 5.13.1 sample app but did not reproduce this issue. It seems to be creative-specific (and the one creative I kept getting did not exhibit this issue).

If you can reproduce this issue yourself, would you be able to share with us the console logs? Make sure you [enable debug logging](https://developers.mopub.com/publishers/ios/test/#enable-logging) so

[2020-09-03 08:36] seemayr opened #339 "No native ads on collectionView.mp_insertItems(atIndexPaths:)"
Using `mp_insertItems(atIndexPaths:)` on a UICollectionView **does not insert native ads**.
The only way to add new cells (with automatically inserted native-ads in between) into an already filled UICollectionView is using `mp_reloadData()` for me, which works. Managing ad-placement remotely via MoPub.

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developer

[2020-09-03 16:22] LucileBillard commented on #338
@chauduyphanvu Thank you for the feedback.
Here is a test adunit to reproduce the bug (in the sample app 5.13.1): **75a614db148e4e57a516b3743d5b6eaa** with the following vast:
`<VAST version="3.0">
  <Ad id="static">
    <InLine>
      <AdSystem>Static VAST Template</AdSystem>
      <AdTitle>Gifi </AdTitle>
      <Impression></Impression>
	  <Extensions>
		<Extension type="MoPub">
			<MoPubForceOr

[2020-09-04 06:45] p158276 commented on #339
Hello @seemayr ,
Thank you for putting together the bug report.
The behaviour you are seeing is unintended, we are aware of this issue and are investigating it.
You can check the following two workarounds and see if it works.
1. As AdPlacer is for non-advanced table setups. It is recommended they use Manual integration for this advanced setup.
2. Less optimal but also a workaround is to refresh th

[2020-09-04 21:48] chauduyphanvu commented on #338
Thank you for the VAST response. I saw the issue you described, and will check with the rest of the team on it. Stay tuned!

[2020-09-09 00:23] #336 closed

[2020-09-09 19:52] chauduyphanvu commented on #338
@LucileBillard, looking through the VAST some more, this is a creative-related issue. The VAST XML structure around `<CompanionAds>` is not following the specs. Each companion ad is supposed to be wrapped in a separate `<Creative>` tag. Companion ads shouldn't be sharing the same `<Creative>` tag with a `<Linear>` ad.

I have corrected it and you can see the change in this diff: https://www.diffch

[2020-09-11 16:04] #338 closed

[2020-09-17 09:50] ndhieuvn212 opened #341 "Issue with MPCollectionViewAdPlacer on iOS 14"
I create a custom  ArticleCollectionView: UICollectionView and add an MPCollectionViewAdPlacer

[code]

This works properly on iOS 10, 12, 13, But It can not work on iOS 14.

On iOS 14, when the UICollectionView scroll, it calls many time on this method forwardingTargetForSelector  then crash.

-[MPCollectionViewAdPlacer forwardingTargetForSelector:] at /Pods/mopub-ios-sdk/MoPubSDK/NativeAds/MPCol

[2020-09-29 08:10] p158276 commented on #341
Hi @ndhieuvn212 ,
Thanks for reaching out. I tried to reproduce the same by implementing the code snippet you provided above. But I didn't encounter the same crash as you reported. Do you mind sharing the project with us which can reflect the same problem?

Yoyo Lin
MoPub Team

[2020-10-01 19:45] chauduyphanvu commented on #337
This has been fixed in [v5.14.0](https://github.com/mopub/mopub-android-sdk/commit/e8b8d865535855dacd65fdf741e1c0d5b7797ca5).

[2020-10-01 19:45] #337 closed

[2020-10-01 19:49] chauduyphanvu commented on #326
This has been fixed in [v5.14.0](https://github.com/mopub/mopub-ios-sdk/commit/5bcd84e86ab5d4c41e802d39bdc4a7cc84d97433). Update and let us know if you continue seeing the issue!

[2020-10-01 19:49] #326 closed

[2020-10-04 17:22] alexeyvolkov-dev opened #342 "Rewarded Video Ad did not call delegate methods"
When closing Rewarded Video by tapping on X (close) button non of "rewardedVideoAdWillDisappear, rewardedVideoAdDidDisappear" and similar delegate methods are called.

- [X ] I am submitting a bug report for existing functionality
- [X ] I visited https://developers.mopub.com/ and found no answer
- [X ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has

[2020-10-05 10:32] hmertkahraman commented on #342
Hi @alexeyvolkov-dev ,

Thanks for reaching out and providing the details. We will check your code, test this internally and get back to you.

MoPub Team

[2020-10-05 12:06] IvanoBilenchi commented on #342
I have a very similar issue, but delegate methods not being called are those of fullscreen interstitials (e.g. interstitialDidDisappear: and interstitialWillDisappear:).

[2020-10-05 13:31] IvanoBilenchi commented on #342
@hmertkahraman Just a heads up: I had a look at the code, and the issue seems to be caused by `MPFullScreenAdViewController`'s `appearanceDelegate` being deallocated too early, before `viewWillDisappear` and `viewDidDisappear` are called. As a workaround, it is enough to change the `appearanceDelegate` property from `weak` to `strong` and the delegate methods start being called again.

I haven't l

[2020-10-05 21:15] chauduyphanvu commented on #342
Fixed in [v5.14.1](https://github.com/mopub/mopub-ios-sdk/commit/27c3bc5df7730079221edf887a17c2e35eed4a70). Let us know if you continue seeing the issue!

[2020-10-05 21:15] #342 closed

[2020-10-06 04:58] ndhieuvn212 commented on #341
Hi Yoyo Lin,
I can not share my project, but I can make a demo with same workflow with the same crash. I will share you soon.
Thanks,

[2020-10-12 09:38] p158276 commented on #341
Hi @ndhieuvn212 ,
Sure. Please share the file here. Thanks!

[2020-10-13 05:11] ndhieuvn212 commented on #341
Hi @p158276
Here is the sample code that can see the issue.
It can run well on iOS bellow 14.
on iOS 14, we can not scroll, it will cause the crash.
[Sourde Code](https://www.dropbox.com/s/5m7ldtu69xhr94r/testMopub.zip?dl=0)

[2020-10-13 05:58] willswinson opened #343 "No Module Found when Installing Via Cocoapods"
One line summary of the issue here

- [X] I am submitting a bug report for existing functionality
- [X] I visited https://developers.mopub.com/ and found no answer
- [X] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [X] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version: 5.14.1

#### De

[2020-10-13 16:37] chauduyphanvu commented on #343
@willswinson, do you still see that error when installing for another Xcode project? If so, do you have the full error messages from CocoaPods? What happens if you run `pod install --repo-update` instead of `pod update`?

If you still see errors with a fresh project, share it with us and we will take a look.

Vu Chau
MoPub Team

[2020-10-15 02:48] caiqingminjson opened #344 "Demo Native Video URL can not play"
One line summary of the issue here

- [ ] I am submitting a bug report for existing functionality
- [ ] I visited https://developers.mopub.com/ and found no answer
- [ ] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ ] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:

#### Device mo

[2020-10-15 02:59] chauduyphanvu commented on #344
@caiqingminjson, we have deprecated the support for native video earlier this month. All native video demand sources have stopped serving, and it is recommended for you to remove native video code from your app.

We will discuss following up with a detailed guide on actions required of publishers to stay compatible with the deprecation of native video.

Let us know if you have any questions!

Vu C

[2020-10-16 19:40] #344 closed

[2020-10-16 19:58] #334 closed

[2020-10-16 20:16] chauduyphanvu commented on #323
This issue has been resolved in v5.14.0. Let us know if you continue seeing the issue!

[2020-10-16 20:16] #323 closed

[2020-10-19 14:37] BorisMolch opened #346 "Pangel ads bypass silent mode and mute the app"
After watching a Pangle ad
the app is muted if in silent mode

- [ x] I am submitting a bug report for existing functionality
- [ x] I visited https://developers.mopub.com/ and found no answer
- [ ]x I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [ x] I checked to make sure that this issue has not already been filed

#### MoP

[2020-10-20 03:25] p158276 commented on #346
Hi @BorisMolch ,
Thanks for reaching out.
We found the screenshot video you provide is muted.
Can you check with the video again?
Could you also try to reproduce the same error in our sample app?

Yoyo Lin
MoPub Team

[2020-10-20 06:25] BorisMolch commented on #346
@p158276 where can I find the sample app?
yes it reproduces every time.
Although now we are having issues getting Pangle ads all together...

[2020-10-21 09:49] p158276 commented on #346
Hi @BorisMolch ,
You can refer here to see the sample app for three platforms.
 https://developers.mopub.com/publishers/tools/sample-apps/

If it is a Pangle SDK specific question, I suggest you can reach out to the Pangle team directly who may help to figure out your problem faster.

[2020-10-21 09:51] BorisMolch commented on #346
Yes , I am getting support from the Pangle team . They confirmed it’s an
issue on their end .

« Reason is we set [AVAudioSession sharedInstance].category when ad start

but didn't set it back when ad complete.«

On Wed 21. Oct 2020 at 11:49, Yoyo Lin <notifications@github.com> wrote:

--
Boris Molchanov

+4917647198198

[2020-10-21 09:55] p158276 commented on #341
Hi @ndhieuvn212 ,
Thanks for sharing the code.
I'll bring back to our internal team and comment here when we have any updates.

[2020-10-21 14:50] #346 closed

[2020-10-23 20:11] chauduyphanvu commented on #343
Closing as irreproducible.

[2020-10-23 20:11] #343 closed

[2020-10-24 15:03] polmum opened #347 "No such module 'MoPub' error"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
Any version.

#

[2020-10-26 08:37] p158276 commented on #347
Hi @polmum ,
Thanks for your feedback. I will check this question with our team and get back to you when there's any update.

Yoyo Lin
MoPub Team

[2020-10-26 09:10] p158276 commented on #341
Hi @ndhieuvn212,
Thanks for waiting. I've compared your project with our sample App (Native Collection).
When I set the `forwardingTargetForSelector` as a breakpoint in our sample App, I didn't see that line was triggered.
This generally happened when receives a message it cannot handle. It seems no ad renderer was registered in your project too. I would suggest you can also try to reproduce the s

[2020-10-27 09:48] zedwill opened #348 "Adding registerAppForAdNetworkAttribution"
I have noticed the **Mopub iOS Sample App** does not include the **SKAdNetwork** registration call.

Calling _registerAppForAdNetworkAttribution_() on app open will enable all mopub DSPs to test their **SKAdNetwork** integration without the need of a real app, complementing the Mopub **SKAdNetwork** documentation found [here](https://developers.mopub.com/dsps/integration/ios14proposal/).

Accordin

[2020-10-28 12:37] nrj opened #349 "rewardedVideoAdDidDisappear erroneously called when clicking a MoPub ad"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.14.1

#### De

[2020-10-28 12:44] nrj commented on #349
Just added a screen recording above.

[2020-10-29 04:06] p158276 commented on #347
Hi @polmum ,
We'll fix this issue in the following SDK release. Thanks for raising this up.

Yoyo Lin
MoPub Team

[2020-10-29 04:09] p158276 commented on #348
Hi @zedwill ,
Thanks for your feedback. I will check this question with our team and get back to you when there's any update.
Meanwhile, do you want to test advertising campaigns targeting by using sample app?

Yoyo Lin
MoPub Team

[2020-10-29 08:36] Bogomol opened #350 "MoPub SDK that not initialized on iOS 9 is crashing"
Hi.
We trying to add MoPub SDK in our application and as our app supports iOS 9, MoPub is initializes only for iOS version 10+:

[code]
Despite the fact MoPub does not initialize on iOS 9 it crashes(see attached file).
Could you please check it?

#### MoPub SDK Version: 5.14.1

#### Device model and OS Version: all devices with iOS 9

#### Xcode Version: 12.0.1

#### Ad Unit IDs used in reproducin

[2020-10-29 09:29] p158276 commented on #350
Hi @Bogomol ,
Thanks for reaching out. Our [requirement](https://developers.mopub.com/publishers/ios/integrate/#requirements) after MoPub 5.13 SDK is iOS 10.0 or higher. You can either use the old version SDK prior to 5.13 or decide to change the xcode support to iOS 10.

Yoyo Lin
MoPub Team

[2020-10-29 09:32] p158276 commented on #349
Hi @nrj ,
Thanks for sharing the information. We are aware of this issue. We are currently checking internally. I will share the information here once we have any update.

Yoyo Lin
MoPub Team

[2020-10-29 09:49] Bogomol commented on #350
Thanks for a response.
We do not initialize MoPub on iOS 9 as you can see in my message above.
If we do not initialize MoPub on iOS 9 why it's crashes in MoPub sources?
And we can't drop iOS 9 for our app.

[2020-10-29 12:51] polmum commented on #347
Hi!
That's great! Thanks

[2020-10-31 22:47] SmartHbdev opened #351 "Google-Mobile-Ads-SDK 7.39.0 installed by Crashlytics 7.0"
I use pod 'Firebase/Crashlytics' in my project and version 7.0.0 revert Google-Mobile-Ads-SDK to version 7.39.0
It's probably because MoPub-AdMob-Adapters is 7.66.0 and latest version is 7.67.1 which is compatible with Crashlytics 7.0

You should update the mopub adapter quickly to resolve this issue because reverting to Google-Mobile-Ads-SDK 7.39.0 break a lot of things.

[2020-11-02 04:02] p158276 commented on #350
Hi @Bogomol ,
Thanks for the confirmation.
Could you also check if you called any MoPub related logic other than initialized under iOS 10?

[2020-11-02 11:46] Bogomol commented on #350
@p158276 thanks for a reply.
We also do `loadRewardedVideoAdWithAdUnitID`, but it's also has own if statement to check iOS 10 to be available.

[2020-11-03 23:08] SmartHbdev commented on #351
Sorry it's more a mediation issue.
I have open a issue on the right place https://github.com/mopub/mopub-ios-mediation/issues/343
You can close or delete this one.

[2020-11-03 23:08] #351 closed

[2020-11-03 23:14] sgabello opened #352 "Expose Consent Dialog ViewController"
It would be great if you could make the Consent Dialog ViewController public so that we can customise the presentation (for example to look like a Modal Overlay) with a custom UIPresentationController.

[2020-11-04 01:35] wacamoe commented on #352
Hello @sgabello,

The consent dialog is intentionally not customizable. More details about the consent mechanism can be found at https://developers.mopub.com/publishers/best-practices/gdpr-guide/

[2020-11-04 01:35] #352 closed

[2020-11-04 14:19] BorisMolch commented on #349
@p158276 do you have a timeline on this issue?

[2020-11-05 09:06] p158276 commented on #350
HI @Bogomol ,

Checking the crashlog, it seems like crash happened when there's an logging attempting to retrieve the ifa. I'll circle back this crash issue back to our internal team.

In the meantime if you are willing to modify SDK code source, you can try to remove `MPLogInfo(@"%@ error: %@", NSStringFromSelector(_cmd), error);` from `MPWebBrowserUserAgentInfo.m` and see if that fixes the issue

[2020-11-06 03:02] p158276 commented on #349
Hi @BorisMolch ,
We don't have a timeline on this at this moment. I will share the information here once we have any update.

[2020-11-12 07:53] ndhieuvn212 commented on #341
This case crash is that: When create a custom UICollectionView then add it to UIViewcontroller. If we implement it directly in the UICollectionView into UIVIewcontroller, it will work well.
In my case, I have many place to reuse my Custom UICollectionView so it will crash.

Would you please check that case?

[2020-11-16 17:25] sahibhussain opened #353 "Crash when dismissing controller containing bannerAd"
app crashes when i dismiss the viewcontroller when bannerAd is showing!

[crash.pdf](https://github.com/mopub/mopub-ios-sdk/files/5548613/crash.pdf)

<img width="1440" alt="Screenshot 2020-11-16 at 10 53 46 PM" src="https://user-images.githubusercontent.com/20224571/99286280-a5e1af00-285e-11eb-82e0-80d9204a1096.png">

#### MoPub SDK Version:
5.14.1

#### Device model and OS Version:
iPhone SE (1st

[2020-11-16 17:56] sahibhussain commented on #353
i had to remove view from superview on closeButtonClick method to remove the crash

[2020-11-17 09:36] p158276 commented on #353
Hi @sahibhussain ,
Thanks for reaching out.
Do you mean the app crashes when you try to dismiss the ad and banner ad attach on the screen at the same time?
I am not able to reduce this problem in our sample app. Can you share your ad unit id and reproduce steps with us?

Yoyo Lin
MoPub Team

[2020-11-17 15:47] sahibhussain commented on #353
there is a banner ad in my viewcontroller and when i dismiss my viewcontroller while the ad is showing it crashes

[2020-11-18 09:45] p158276 commented on #353
Hi @sahibhussain ,
Thanks for sharing. Regarding to the ad unit id, are you using the id [here](https://developers.mopub.com/publishers/ios/test/#option-2-test-using-mopub-test-ad-units)?
If yes, which id are you using now?
As we cannot reproduce the scenario on our end, can you provide the reproducible code snippet or project with us?

Thanks.

[2020-11-18 14:49] sahibhussain commented on #353
Hi @p158276
i cant share the code as it is in our live project and i'll have to create a demo project just for this

also i need to know that
when i am using native ad with sample ad_unit_id i get the ad just fine but when i am using real ad_unit_id i get
`Ad server returned no inventory`

and while using banner ad again in sample ad_unit_id i get the ad but when i use real ad_unit_id i get
`The o

[2020-11-18 14:49] sahibhussain commented on #353
i getting rewarded ad perfectly in both sample and real ad_unit_id

[2020-11-18 14:51] sahibhussain commented on #353
Banner (MRect) | 300x250 | 2aae44d2ab91424d9850870af33e5af7
-- | -- | --

[2020-11-20 10:39] p158276 commented on #353
Hi @sahibhussain ,
We are still not able to reproduce the crash from our end.
Would you able to share the code snippet or demo project to address this issue?

[2020-11-23 08:58] homahi opened #354 "error: redefinition of module 'MoPub'"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.15.0

#### De

[2020-11-23 16:06] saldous opened #355 "subscriberCellularProvider and currentRadioAccessTechnology are deprecated in iOS 12"
Just updating an old project and changed build target to iOS 12 and getting these warnings:

currentRadioAccessTechnology is deprecated in iOS 12.0
subscriberCellularProvider is deprecated in iOS 12.0

[2020-11-23 18:21] chauduyphanvu commented on #354
@homahi, what does your Podfile look like? Is your project written in Swift or Obj-C?

I used the MoPub sample app and also created a new project from scratch, but did not reproduce that error. If you have a project to share, that'd help us investigate this. Thank you!

Vu Chau
MoPub Team

[2020-11-24 02:06] homahi commented on #354
@chauduyphanvu Thank you, response. This project is written in Swift5.

This is Podfile.lock.
[code]

KSTMoPub is wrapper Library For MoPub in private repository.
this is podspec.

[code]

[2020-11-24 09:06] p158276 commented on #355
Hi @saldous ,
Thanks for the information.
I'll circle back these back to the team for these depreciation.

Yoyo Lin
MoPub Team

[2020-11-24 20:43] chauduyphanvu commented on #354
That looks OK to me, and we didn't reproduce any build errors.

To make sure we are looking at the same issue, could you confirm if [our sample app](https://github.com/mopub/mopub-ios-sdk/tree/master/Canary) compiles for you? If it does, have you tried clearing out the derived data?

[code]

If the issue persists, feel free to share with us a sample project that triggers the errors and we can take

[2020-11-30 10:26] sashastg opened #356 "when trying load rewarded video second time"
One line summary of the issue here

- [x] I am submitting a bug report for existing functionality
- [x] I visited https://developers.mopub.com/ and found no answer
- [x] I checked https://twittercommunity.com/c/advertiser-api/mopub to make sure that this issue has not already been filed
- [x] I checked to make sure that this issue has not already been filed

#### MoPub SDK Version:
5.15.0
#### Dev